{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}
     Личный кабинет
{% endblock %}

{% block stylesheets %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static "assets/plugins/fontawesome-free/css/all.min.css" %}">
  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static "assets/plugins/daterangepicker/daterangepicker.css" %}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static "assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css" %}">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="{% static "assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" %}">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{% static "assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static "assets/plugins/select2/css/select2.min.css" %}">
  <link rel="stylesheet" href="{%static "assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" %}">
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="{%static "assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css" %}">
  <!-- BS Stepper -->
  <link rel="stylesheet" href="{% static "assets/plugins/bs-stepper/css/bs-stepper.min.css" %}">
  <!-- dropzonejs -->
  <link rel="stylesheet" href="{% static "assets/plugins/dropzone/min/dropzone.min.css" %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static "assets/dist/css/adminlte.min.css" %}">
{% endblock stylesheets %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-danger">
            <div class="wrapper">
              <!-- Content Wrapper. Contains page content -->
              <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                  <div class="container-fluid">
                    <!-- /.row -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card card-default">
                          <div class="card-header d-flex justify-content-between align-items-center">
                              <h3 class="card-title">Профиль</h3>
                              <a href="{% url "webapp:index" %}" class="link-dark">Вернуться назад</a>
                          </div>
                          <div class="card-body">
                            <div style="display: inline-block; position: absolute;" class="user_avatar">
                                {% if user_obj.profile.avatar %}
                                    <img style="border-radius: 20px;" src="{{ user_obj.profile.avatar.url }}" width="150" height="150" alt="user picture">
                                {% else %}
                                    <img style="border-radius: 20px;" src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-vector-260nw-1725655669.jpg"
                                           width="150" height="150" alt="">
                                {% endif %}
                            </div>
                            <div style="display: inline-block; margin-left: 200px; position: absolute;">
                                Логин: <b>{{ user_obj.username }}</b><br>
                                Имя: <b>{{ user_obj.first_name }}</b><br>
                                Фамилия: <b>{{ user_obj.last_name }}</b><br>
                                Дата рождения: <b>
                                                {{ user_obj.profile.birth_date.day }}.{{ user_obj.profile.birth_date.month }}.{{ user_obj.profile.birth_date.year }}
                                                </b><br>
                                Контакный номер: <b>{{ user_obj.profile.phone_number }}</b><br>
                                Email: <b>{{ user_obj.email }}</b><br>
                                Должность: <b>{% for group in user_obj.groups.all %}
                                                {{ group }}
                                              {% endfor %}
                                            </b><br>
                            </div>
                            <div style="display: inline-block; margin-left: 600px;">
                                    <a class="btn btn-outline-success" style="width:350px" href="{% url 'accounts:change' user_obj.pk %}">Редактировать данные</a><br><br>
                                    <a class="btn btn-outline-success" style="width:350px" href="{% url 'accounts:change_password' user_obj.pk %}">Изменить пароль</a><br><br>
                                    {% if user_obj.is_superuser %}
                                        <a class="btn btn-outline-success" style="width:350px" href="{% url "accounts:register" %}">Зарегистрировать нового пользователя</a><hr>

                                        <button style="width:350px" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModalA1">
                                           Коэффициент наценки: {{ coefficient.percent }} %
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalA1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Смена статуса заявки</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                <form action="{% url "accounts:coefficient" user_obj.pk %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="form">
                                                        Коэффициент наценки: <p><input type="number" class="form-control" name="percent"></p>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                        <button class="btn btn-primary">Ок</button>
                                                    </div>
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    {% endif %}
                            </div>
                            {% if user_obj.is_superuser %}
                                <h3>Список сотрудников</h3>
                                {% for user in users %}
                                    {% if not user.is_superuser %}
                                        <a href="{% url "accounts:profile" user.pk %}">
                                            <div style="text-align:center; display: inline-block">
                                                {% if user.profile.avatar %}
                                                    <img style="border-radius: 20px;" src="{{ user.profile.avatar.url }}" width="100" height="100" alt=""><br>
                                                {% else %}
                                                    <img style="border-radius: 20px;" src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-vector-260nw-1725655669.jpg"
                                                           width="100" height="100" alt=""><br>
                                                {% endif %}
                                                {{ user.username }}
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                          </div>
                        </div>
                        <!-- /.card -->
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
              </div>
            </div>
        </div>
    </div>
</div>
<!-- /.card -->
{% endif %}
{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="{% static "assets/plugins/jquery/jquery.min.js" %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<!-- Select2 -->
<script src="{% static "assets/plugins/select2/js/select2.full.min.js" %}"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="{% static "assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js" %}"></script>
<!-- InputMask -->
<script src="{% static "assets/plugins/moment/moment.min.js" %}"></script>
<script src="{% static "assets/plugins/inputmask/jquery.inputmask.min.js" %}"></script>
<!-- date-range-picker -->
<script src="{% static "assets/plugins/daterangepicker/daterangepicker.js" %}"></script>
<!-- bootstrap color picker -->
<script src="{% static "assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js" %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static "assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" %}"></script>
<!-- Bootstrap Switch -->
<script src="{% static "assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js" %}"></script>
<!-- BS-Stepper -->
<script src="{% static "assets/plugins/bs-stepper/js/bs-stepper.min.js" %}"></script>
<!-- dropzonejs -->
<script src="{% static "assets/plugins/dropzone/min/dropzone.min.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "assets/dist/js/adminlte.min.js" %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static "assets/dist/js/demo.js" %}"></script>
{% endblock %}

