{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}
     Редактировать профиль
{% endblock %}

{% block stylesheets %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static "assets/plugins/fontawesome-free/css/all.min.css" %}">
  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static "assets/plugins/daterangepicker/daterangepicker.css" %}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static "assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css" %}">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="{% static "assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" %}">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{% static "assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static "assets/plugins/select2/css/select2.min.css" %}">
  <link rel="stylesheet" href="{%static "assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" %}">
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="{%static "assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css" %}">
  <!-- BS Stepper -->
  <link rel="stylesheet" href="{% static "assets/plugins/bs-stepper/css/bs-stepper.min.css" %}">
  <!-- dropzonejs -->
  <link rel="stylesheet" href="{% static "assets/plugins/dropzone/min/dropzone.min.css" %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static "assets/dist/css/adminlte.min.css" %}">
{% endblock stylesheets %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-danger">
            <div class="wrapper">
              <!-- Content Wrapper. Contains page content -->
              <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                  <div class="container-fluid">
                    <!-- /.row -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card card-default">
                          <div class="card-header d-flex justify-content-between align-items-center">
                              <h3 class="card-title">Редактировать профиль</h3>
                              <a href="{% url "accounts:profile" user_obj.pk %}" class="link-dark">Вернуться назад</a>
                          </div>
                          <div class="card-body">
                                {% if user.is_authenticated %}
                                <form action="{% url 'accounts:change' user_obj.pk %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    {{ profile_form|crispy }}
                                    <button class="btn btn-dark">Редактировать</button>
                                </form>
                            {% endif %}
                          </div>
                        </div>
                        <!-- /.card -->
                      </div>
                    </div>
                    <!-- /.row -->
                  </div>
                  <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
              </div>
            </div>
        </div>
    </div>
</div>
<!-- /.card -->
{% endif %}
{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="{% static "assets/plugins/jquery/jquery.min.js" %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<!-- Select2 -->
<script src="{% static "assets/plugins/select2/js/select2.full.min.js" %}"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="{% static "assets/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js" %}"></script>
<!-- InputMask -->
<script src="{% static "assets/plugins/moment/moment.min.js" %}"></script>
<script src="{% static "assets/plugins/inputmask/jquery.inputmask.min.js" %}"></script>
<!-- date-range-picker -->
<script src="{% static "assets/plugins/daterangepicker/daterangepicker.js" %}"></script>
<!-- bootstrap color picker -->
<script src="{% static "assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js" %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static "assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" %}"></script>
<!-- Bootstrap Switch -->
<script src="{% static "assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js" %}"></script>
<!-- BS-Stepper -->
<script src="{% static "assets/plugins/bs-stepper/js/bs-stepper.min.js" %}"></script>
<!-- dropzonejs -->
<script src="{% static "assets/plugins/dropzone/min/dropzone.min.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "assets/dist/js/adminlte.min.js" %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static "assets/dist/js/demo.js" %}"></script>
{% endblock %}
