<div class="pagination" style="justify-content: center">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link"
                             href="?{% if query %}{{ query }} & {% endif %}page={{ page_obj.previous_page_number }}">назад</a></li>
    {% endif %}

  {% for n in page_obj.paginator.page_range%}
      {% if page_obj.number == n %}
          <li class="page-item active"><a class="page-link"
                                          href="?{{ request.GET.urlencode }}&page={{ n }}">{{ n }}</a></li>
      {% else %}
          <li class="page-item"><a class="page-link"
                                   href="?{{ request.GET.urlencode }}&page={{ n }}">{{ n }}</a></li>
      {% endif %}
  {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link"
                             href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Следующая</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link"
                             href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}">На последнюю</a></li>
  </ul>
</nav>
</div>