{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href={% static "assets/favicon.ico" %} type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{#    <link rel="stylesheet" href="../static/css/media.css">#}
{#    <link rel="stylesheet" href="../static/css/main.css">#}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

{#    <script type="text/javascript" src="../static/assets/plugins/lightzoom/lightzoom.js"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://eKoopmans.github.io/html2pdf.js"></script>


  <title>
    Sliding Systems - {% block title %}{% endblock %}
  </title>

  {% block stylesheets %}{% endblock stylesheets %}

</head>
{% if user.is_authenticated %}
    <body class="hold-transition {% block body_class %}{% endblock body_class %}">
    <div class="wrapper">

        {% include 'includes/navigation.html' %}

        {% include 'includes/sidebar.html' %}

        {% block content %}{% endblock content %}

        {% include 'includes/footer.html' %}

        <aside class="control-sidebar control-sidebar-dark">
        </aside>

    </div>

    {% block javascripts %}{% endblock javascripts %}

    </body>
{% else %}
    {% include 'registration/login.html' %}
{% endif %}
</html>
