{% extends "base.html" %}
{% load static %}

  <title>Галерея</title>
{% block stylesheets %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static "assets/plugins/fontawesome-free/css/all.min.css" %}">
  <!-- Ekko Lightbox -->
{#  <link rel="stylesheet" href="{% static "assets/plugins/ekko-lightbox/ekko-lightbox.css" %}">#}
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static "assets/dist/css/adminlte.min.css" %}">
  <link rel="stylesheet" href="lightproof/style.css" type="text/css">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Галерея</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                    <a class="text-dark" href="{% url "webapp:gallary_create" %}">
                        Добавить
                    </a>
                </li>
              <li class="breadcrumb-item active">Галерея</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="col-12">
        <div class="card card-primary">
          <div class="col-12">
              <div class="card-body">
                <div class="row">
                  <div class="filter-container p-0 row">
                      {% for photo in gallary_list %}
                        <div class="col-sm-2">
                            <a href="{{ photo.foto.url }}" class="photo">
                                <img style="width: 187px; height: 187px;" src="{{ photo.foto.url }}" alt="#"/>
                            </a>
                        </div>
                      {% endfor %}
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>
<!-- ./wrapper -->
{% endif %}
{% endblock %}

{% block javascripts %}

<!-- jQuery -->
<script src="{% static "assets/plugins/jquery/jquery.min.js" %}"></script>
<!-- Bootstrap -->
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<!-- Ekko Lightbox -->
{#<script src="{% static "assets/plugins/ekko-lightbox/ekko-lightbox.min.js" %}"></script>#}
<!-- AdminLTE App -->
<script src="{% static "assets/dist/js/adminlte.min.js" %}"></script>
<!-- Filterizr-->
{#<script src="{% static "assets/plugins/filterizr/jquery.filterizr.min.js" %}"></script>#}
<!-- AdminLTE for demo purposes -->
<script src="{% static "assets/dist/js/demo.js" %}"></script>
<!-- Page specific script -->
{#<script src="{% lightzoom/lightzoom.js %}">#}

{#</script>#}
<script type="text/javascript">
    const element = document.getElementsByClassName("photo")
    element.lightzoom({speed: 40, viewTitle: true, isOverlayClickClosing: true});


  {#$(function () {#}
  {#  $(document).on('click', '[data-toggle="lightbox"]', function(event) {#}
  {#    event.preventDefault();#}
  {#    $(this).ekkoLightbox({#}
  {#      alwaysShowClose: trueAdminLTE#}
  {##}
  {#    });#}
  {#  });#}
  {##}
  {#  $('.filter-container').filterizr({gutterPixels: 3});#}
  {#  $('.btn[data-filter]').on('click', function() {#}
  {#    $('.btn[data-filter]').removeClass('active');#}
  {#    $(this).addClass('active');#}
  {#  });})#}
</script>
    </body>
{% endblock %}
