{% extends "base.html" %}
{% load static %}
{% block title %} Компоненты {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Компоненты</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="accordion" id="accordionExample">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingtwo">
                                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                                            Комплектующие
                                          </button>
                                        </h2>
                                        <div id="collapsetwo" class="accordion-collapse collapse" aria-labelledby="headingtwo" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                              <table class="table table-bordered table-hover">
                                                  <thead>
                                                    <tr>
                                                      <th scope="col">Картинка</th>
                                                      <th scope="col">Наименование</th>
                                                      <th scope="col">Ед. измерения</th>
                                                      <th scope="col">Код</th>
                                                      <th scope="col">Цена</th>
                                                      <th scope="col">Удаление</th>
                                                    </tr>
                                                  </thead>
                                                    {% for mechanism in mechanism_list %}
                                                      <tbody>
                                                        <tr>
                                                          <td>
                                                              {% if mechanism.image %}
                                                                <p><img style="width:80px; height: 80px;" src="{{ mechanism.image.url }}" alt=""></p>
                                                              {% else %}
                                                                <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                              {% endif %}
                                                          </td>
                                                          <td><p class="property_data">{{ mechanism.name }}</p></td>
                                                          <td>{{ mechanism.unit_of_measure }}</td>
                                                          <td><p class="property_data">{{ mechanism.code }}</p></td>
                                                          <td><p class="property_data">{{ mechanism.price }}</p></td>
                                                          <td>
                                                              {% if perms.webapp.delete_details %}
                                                                  <form style="display: inline-block;" action="{% url "webapp:mechanism_del" mechanism.pk %}">
                                                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalC3{{ mechanism.pk }}">
                                                                      X
                                                                    </button>
                                                                  </form>
                                                                    <!-- Modal -->
                                                                  <div class="modal fade" id="exampleModalC3{{ mechanism.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                      <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                          <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить {{ mechanism.name }}?</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                          </div>
                                                                          <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                                            <form action="{% url "webapp:mechanism_del" mechanism.pk %}" method="post">
                                                                                {% csrf_token %}
                                                                                <button class="btn btn-primary btn-danger">Да</button>
                                                                            </form>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                  </div>
                                                              {% endif %}
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    {% endfor %}
                                              </table>
                                                {% if perms.webapp.add_details %}
                                                    <a class="btn btn-outline-success" href="{% url "webapp:mechanism_add" %}">Добавить</a>
                                                {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="accordion" id="accordionExample">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingthree">
                                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
                                            Профиль
                                          </button>
                                        </h2>
                                        <div id="collapsethree" class="accordion-collapse collapse" aria-labelledby="headingthree" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                              <table class="table table-bordered table-hover">
                                                  <thead>
                                                    <tr>
                                                      <th scope="col">Наименование</th>
                                                      <th scope="col">Ед. измерения</th>
                                                      <th scope="col">Код</th>
                                                      <th scope="col">Цена</th>
                                                      <th scope="col">Удаление</th>
                                                    </tr>
                                                  </thead>
                                                    {% for section in section_list %}
                                                      <tbody>
                                                        <tr>
                                                          <td><p>{{ section.name }}, {{ section.type }}</p></td>
                                                          <td><p>хлыст 6м</p></td>
                                                          <td><p>{{ section.code }}</p></td>
                                                          <td><p>{{ section.price }}</p></td>
                                                          <td>
                                                              {% if perms.webapp.delete_section %}
                                                                  <form style="display: inline-block;" action="{% url "webapp:section_del" section.pk %}">
                                                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalD4{{ section.pk }}">
                                                                      X
                                                                    </button>
                                                                  </form>
                                                                    <!-- Modal -->
                                                                  <div class="modal fade" id="exampleModalD4{{ section.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                      <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                          <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить {{ section.name }}?</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                          </div>
                                                                          <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                                            <form action="{% url "webapp:section_del" section.pk %}" method="post">
                                                                                {% csrf_token %}
                                                                                <button class="btn btn-primary btn-danger">Да</button>
                                                                            </form>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                  </div>
                                                              {% endif %}
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    {% endfor %}
                                              </table>
                                                {% if perms.webapp.add_section %}
                                                    <a class="btn btn-outline-success" href="{% url "webapp:section_add" %}">Добавить</a>
                                                {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="accordion" id="accordionExample">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingfour">
                                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                            Шина
                                          </button>
                                        </h2>
                                        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                              <table class="table table-bordered table-hover">
                                                  <thead>
                                                    <tr>
                                                      <th scope="col">Наименование</th>
                                                      <th scope="col">Ед. измерения</th>
                                                      <th scope="col">Код</th>
                                                      <th scope="col">Цена</th>
                                                      <th scope="col">Удаление</th>
                                                    </tr>
                                                  </thead>
                                                    {% for tire in tire_list %}
                                                      <tbody>
                                                        <tr>
                                                          <td><p>{{ tire.name }}</p></td>
                                                          <td><p>хлыст 6м</p></td>
                                                          <td><p>{{ tire.code }}</p></td>
                                                          <td><p>{{ tire.price }}</p></td>
                                                          <td>
                                                              {% if perms.webapp.delete_tire %}
                                                                  <form style="display: inline-block;" action="{% url "webapp:tire_del" tire.pk %}">
                                                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalE5{{ tire.pk }}">
                                                                      X
                                                                    </button>
                                                                  </form>
                                                                    <!-- Modal -->
                                                                  <div class="modal fade" id="exampleModalE5{{ tire.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                      <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                          <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить {{ tire.name }}?</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                          </div>
                                                                          <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                                            <form action="{% url "webapp:tire_del" tire.pk %}" method="post">
                                                                                {% csrf_token %}
                                                                                <button class="btn btn-primary btn-danger">Да</button>
                                                                            </form>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                  </div>
                                                              {% endif %}
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    {% endfor %}
                                              </table>
                                                {% if perms.webapp.add_tire %}
                                                    <a class="btn btn-outline-success" href="{% url "webapp:tire_add" %}">Добавить</a>
                                                {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="accordion" id="accordionExample">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingfive">
                                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
                                            Стекло
                                          </button>
                                        </h2>
                                        <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                              <table class="table table-bordered table-hover">
                                                  <thead>
                                                    <tr>
                                                      <th scope="col">Картинка</th>
                                                      <th scope="col">Наименование</th>
                                                      <th scope="col">Ед. измерения</th>
                                                      <th scope="col">Код</th>
                                                      <th scope="col">Цена</th>
                                                      <th scope="col">Удаление</th>
                                                    </tr>
                                                  </thead>
                                                    {% for glass in glass_list %}
                                                      <tbody>
                                                        <tr>
                                                          <td>
                                                            {% if glass.image %}
                                                                <p><img style="width:80px; height: 80px;" src="{{ glass.image.url }}" alt=""></p>
                                                            {% else %}
                                                                <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                            {% endif %}
                                                          </td>
                                                          <td><p>{{ glass.name }}</p></td>
                                                          <td><p>м2</p></td>
                                                          <td><p>{{ glass.code }}</p></td>
                                                          <td><p>{{ glass.price }}</p></td>
                                                          <td>
                                                              {% if perms.webapp.delete_glass %}
                                                                  <form style="display: inline-block;" action="{% url "webapp:glass_del" glass.pk %}">
                                                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalF6{{ glass.pk }}">
                                                                      X
                                                                    </button>
                                                                  </form>
                                                                    <!-- Modal -->
                                                                  <div class="modal fade" id="exampleModalF6{{ glass.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                      <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                          <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить {{ glass.name }}?</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                          </div>
                                                                          <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                                            <form action="{% url "webapp:glass_del" glass.pk %}" method="post">
                                                                                {% csrf_token %}
                                                                                <button class="btn btn-primary btn-danger">Да</button>
                                                                            </form>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                  </div>
                                                              {% endif %}
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    {% endfor %}
                                              </table>
                                                {% if perms.webapp.add_glass %}
                                                    <a class="btn btn-outline-success" href="{% url "webapp:glass_add" %}">Добавить</a>
                                                {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="accordion" id="accordionExample">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingsix">
                                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="true" aria-controls="collapsesix">
                                            Дверная ручка
                                          </button>
                                        </h2>
                                        <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                              <table class="table table-bordered table-hover">
                                                  <thead>
                                                    <tr>
                                                      <th scope="col">Картинка</th>
                                                      <th scope="col">Наименование</th>
                                                      <th scope="col">Ед. измерения</th>
                                                      <th scope="col">Код</th>
                                                      <th scope="col">Цена</th>
                                                      <th scope="col">Удаление</th>
                                                    </tr>
                                                  </thead>
                                                    {% for door_knob in door_knob_list %}
                                                      <tbody>
                                                        <tr>
                                                          <td>
                                                            {% if door_knob.image %}
                                                                <p><img style="width:80px; height: 80px;" src="{{ door_knob.image.url }}" alt=""></p>
                                                            {% else %}
                                                                <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                            {% endif %}
                                                          </td>
                                                          <td><p>{{ door_knob.name }}</p></td>
                                                          <td><p>комплект</p></td>
                                                          <td><p>{{ door_knob.code }}</p></td>
                                                          <td><p>{{ door_knob.price }}</p></td>
                                                          <td>
                                                              {% if perms.webapp.delete_doorknob %}
                                                                  <form style="display: inline-block;" action="{% url "webapp:door_knob_del" door_knob.pk %}">
                                                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalG7{{ door_knob.pk }}">
                                                                      X
                                                                    </button>
                                                                  </form>
                                                                    <!-- Modal -->
                                                                  <div class="modal fade" id="exampleModalG7{{ door_knob.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                      <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                          <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить {{ door_knob.name }}?</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                          </div>
                                                                          <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                                            <form action="{% url "webapp:door_knob_del" door_knob.pk %}" method="post">
                                                                                {% csrf_token %}
                                                                                <button class="btn btn-primary btn-danger">Да</button>
                                                                            </form>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                  </div>
                                                              {% endif %}
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    {% endfor %}
                                              </table>
                                                {% if perms.webapp.add_doorknob %}
                                                    <a class="btn btn-outline-success" href="{% url "webapp:door_knob_add" %}">Добавить</a>
                                                {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="accordion" id="accordionExample">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingseven">
                                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="true" aria-controls="collapseseven">
                                            Цвет профиля
                                          </button>
                                        </h2>
                                        <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                              <table class="table table-bordered table-hover">
                                                  <thead>
                                                    <tr>
                                                      <th scope="col">Картинка</th>
                                                      <th scope="col">Наименование</th>
                                                      <th scope="col">Код</th>
                                                      <th scope="col">Цена</th>
                                                      <th scope="col">Удаление</th>
                                                    </tr>
                                                  </thead>
                                                    {% for color in color_list %}
                                                      <tbody>
                                                        <tr>
                                                          <td>
                                                            {% if color.image %}
                                                                <p><img style="width:80px; height: 80px;" src="{{ color.image.url }}" alt=""></p>
                                                            {% else %}
                                                                <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                            {% endif %}
                                                          </td>
                                                          <td><p>{{ color.name }}</p></td>
                                                          <td><p>{{ color.code }}</p></td>
                                                          <td><p>{{ color.price }}</p></td>
                                                          <td>
                                                              {% if perms.webapp.delete_color %}
                                                                  <form style="display: inline-block;" action="{% url "webapp:color_del" color.pk %}">
                                                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalH8{{ color.pk }}">
                                                                      X
                                                                    </button>
                                                                  </form>
                                                                    <!-- Modal -->
                                                                  <div class="modal fade" id="exampleModalH8{{ color.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                      <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                          <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить {{ color.name }}?</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                          </div>
                                                                          <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                                            <form action="{% url "webapp:color_del" color.pk %}" method="post">
                                                                                {% csrf_token %}
                                                                                <button class="btn btn-primary btn-danger">Да</button>
                                                                            </form>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                  </div>
                                                              {% endif %}
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    {% endfor %}
                                              </table>
                                                {% if perms.webapp.add_color %}
                                                    <a class="btn btn-outline-success" href="{% url "webapp:color_add" %}">Добавить</a>
                                                {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="accordion" id="accordionExample">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingeight">
                                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="true" aria-controls="collapseeight">
                                            Дополнительные опции
                                          </button>
                                        </h2>
                                        <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                              <table class="table table-bordered table-hover">
                                                  <thead>
                                                    <tr>
                                                      <th scope="col">Картинка</th>
                                                      <th scope="col">Наименование</th>
                                                      <th scope="col">Код</th>
                                                      <th scope="col">Цена</th>
                                                      <th scope="col">Удаление</th>
                                                    </tr>
                                                  </thead>
                                                    {% for option in option_list %}
                                                      <tbody>
                                                        <tr>
                                                          <td>
                                                            {% if option.image %}
                                                                <p><img style="width:80px; height: 80px;" src="{{ option.image.url }}" alt=""></p>
                                                            {% else %}
                                                                <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                            {% endif %}
                                                          </td>
                                                          <td><p>{{ option.name }}</p></td>
                                                          <td><p>{{ option.code }}</p></td>
                                                          <td><p>{{ option.price }}</p></td>
                                                          <td>
                                                              {% if perms.webapp.delete_option %}
                                                                  <form style="display: inline-block;" action="{% url "webapp:option_del" option.pk %}">
                                                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalI9{{ option.pk }}">
                                                                      X
                                                                    </button>
                                                                  </form>
                                                                    <!-- Modal -->
                                                                  <div class="modal fade" id="exampleModalI9{{ option.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                      <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                          <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить {{ option.name }}?</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                          </div>
                                                                          <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                                            <form action="{% url "webapp:option_del" option.pk %}" method="post">
                                                                                {% csrf_token %}
                                                                                <button class="btn btn-primary btn-danger">Да</button>
                                                                            </form>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                  </div>
                                                              {% endif %}
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    {% endfor %}
                                              </table>
                                                {% if perms.webapp.add_option %}
                                                    <a class="btn btn-outline-success" href="{% url "webapp:option_add" %}">Добавить</a>
                                                {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
            });
        });
    </script>

{% endblock javascripts %}

{#=======#}
{#{% include "partial/search_form.html" %}#}
{#    <h1>Компоненты</h1>#}
{#    <div class="accordion" id="accordionExample">#}
{#        {% for product in product_list %}#}
{#          <div class="accordion-item">#}
{#            <h2 class="accordion-header" id="heading{{ product.pk }}">#}
{#              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ product.pk }}" aria-expanded="true" aria-controls="collapse{{ product.pk }}">#}
{#                {{ product.name }}#}
{#              </button>#}
{#            </h2>#}
{#            <div id="collapse{{ product.pk }}" class="accordion-collapse collapse" aria-labelledby="heading{{ product.pk }}" data-bs-parent="#accordionExample">#}
{#              <div class="accordion-body">#}
{#                  <table class="table">#}
{#                      <thead>#}
{#                        <tr>#}
{#                          <th scope="col">Картинка</th>#}
{#                          <th scope="col">Наименование</th>#}
{#                          <th scope="col">Ед. измерения</th>#}
{#                          <th scope="col">Код</th>#}
{#                          <th scope="col">Цена</th>#}
{#                          <th scope="col">Удаление</th>#}
{#                        </tr>#}
{#                      </thead>#}
{#                        {% for property in product.property.all %}#}
{#                          <tbody>#}
{#                            <tr>#}
{#                              <td>#}
{#                                  {% if property.image %}#}
{#                                    <p><img style="width:80px; height: 80px;" src="{{ property.image.url }}" alt=""></p>#}
{#                                  {% else %}#}
{#                                    <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>#}
{#                                  {% endif %}#}
{#                              </td>#}
{#                              <td><p class="property_data">{{ property.property }}</p></td>#}
{#                              <td>{{ product.unit_of_measure }}</td>#}
{#                              <td><p class="property_data">{{ property.code }}</p></td>#}
{#                              <td><p class="property_data">{{ property.price }}</p></td>#}
{#                              <td>#}
{#                                  <form style="display: inline-block;" action="{% url "webapp:property_del" property.pk %}">#}
{#                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ property.pk }}">#}
{#                                      X#}
{#                                    </button>#}
{#                                  </form>#}
{#                                    <!-- Modal -->#}
{#                                  <div class="modal fade" id="exampleModal{{ property.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#                                      <div class="modal-dialog">#}
{#                                        <div class="modal-content">#}
{#                                          <div class="modal-header">#}
{#                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить {{ property.property }}?</h5>#}
{#                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                                          </div>#}
{#                                          <div class="modal-footer">#}
{#                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>#}
{#                                            <form action="{% url "webapp:property_del" property.pk %}" method="post">#}
{#                                                {% csrf_token %}#}
{#                                                <button class="btn btn-primary btn-danger">Да</button>#}
{#                                            </form>#}
{#                                          </div>#}
{#                                        </div>#}
{#                                      </div>#}
{#                                  </div>#}
{#                              </td>#}
{#                            </tr>#}
{#                          </tbody>#}
{#                        {% endfor %}#}
{##}
{#                  </table>#}
{#                  <a class="btn btn-success" href="{% url "webapp:property_add" product.pk %}">Добавить {{ product.name }}</a>#}
{#                  <form style="display: inline-block; margin-left: 20px;" action="{% url "webapp:product_del" product.pk %}">#}
{#                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ product.pk }}">#}
{#                      Удалить компонент {{ product.name }}#}
{#                    </button>#}
{#                  </form>#}
{#                    <!-- Modal -->#}
{#                  <div class="modal fade" id="exampleModal{{ product.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#                      <div class="modal-dialog">#}
{#                        <div class="modal-content">#}
{#                          <div class="modal-header">#}
{#                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить весь компонент {{ product.name }}?</h5>#}
{#                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                          </div>#}
{#                          <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>#}
{#                            <form action="{% url "webapp:product_del" product.pk %}" method="post">#}
{#                                {% csrf_token %}#}
{#                                <button class="btn btn-primary btn-danger">Да</button>#}
{#                            </form>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                  </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    <div class="accordion" id="accordionExample">#}
{#          <div class="accordion-item">#}
{#            <h2 class="accordion-header" id="headingtwo">#}
{#              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">#}
{#                Комплектующие#}
{#              </button>#}
{#            </h2>#}
{#            <div id="collapsetwo" class="accordion-collapse collapse" aria-labelledby="headingtwo" data-bs-parent="#accordionExample">#}
{#              <div class="accordion-body">#}
{#                  <table class="table">#}
{#                      <thead>#}
{#                        <tr>#}
{#                          <th scope="col">Картинка</th>#}
{#                          <th scope="col">Наименование</th>#}
{#                          <th scope="col">Ед. измерения</th>#}
{#                          <th scope="col">Код</th>#}
{#                          <th scope="col">Цена</th>#}
{#                          <th scope="col">Удаление</th>#}
{#                        </tr>#}
{#                      </thead>#}
{#                        {% for mechanism in mechanism_list %}#}
{#                          <tbody>#}
{#                            <tr>#}
{#                              <td>#}
{#                                  {% if mechanism.image %}#}
{#                                    <p><img style="width:80px; height: 80px;" src="{{ mechanism.image.url }}" alt=""></p>#}
{#                                  {% else %}#}
{#                                    <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>#}
{#                                  {% endif %}#}
{#                              </td>#}
{#                              <td><p class="property_data">{{ mechanism.name }}</p></td>#}
{#                              <td>{{ mechanism.unit_of_measure }}</td>#}
{#                              <td><p class="property_data">{{ mechanism.code }}</p></td>#}
{#                              <td><p class="property_data">{{ mechanism.price }}</p></td>#}
{#                              <td>#}
{#                                  <form style="display: inline-block;" action="{% url "webapp:mechanism_del" mechanism.pk %}">#}
{#                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ mechanism.pk }}">#}
{#                                      X#}
{#                                    </button>#}
{#                                  </form>#}
{#                                    <!-- Modal -->#}
{#                                  <div class="modal fade" id="exampleModal{{ mechanism.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#                                      <div class="modal-dialog">#}
{#                                        <div class="modal-content">#}
{#                                          <div class="modal-header">#}
{#                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить {{ mechanism.name }}?</h5>#}
{#                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                                          </div>#}
{#                                          <div class="modal-footer">#}
{#                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>#}
{#                                            <form action="{% url "webapp:mechanism_del" mechanism.pk %}" method="post">#}
{#                                                {% csrf_token %}#}
{#                                                <button class="btn btn-primary btn-danger">Да</button>#}
{#                                            </form>#}
{#                                          </div>#}
{#                                        </div>#}
{#                                      </div>#}
{#                                  </div>#}
{#                              </td>#}
{#                            </tr>#}
{#                          </tbody>#}
{#                        {% endfor %}#}
{#                  </table>#}
{#                  <a class="btn btn-success" href="{% url "webapp:mechanism_add" %}">Добавить</a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#    </div>#}
{#    {% if is_paginated %}#}
{#        {% include 'partial/pagination.html' %}#}
{#    {% endif %}#}
{#{% endblock %}#}
{#>>>>>>> origin/develop#}
