{% extends "base.html" %}
{% load static %}
{% block title %} Конструктор {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Конструктор</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                {% if perms.webapp.add_mechanismkit %}
                                    <a href="{% url "webapp:mechanismkit_form" %}" class="text-dark">
                                        Добавить Комплект
                                    </a>
                                {% endif %}
                            </li>
                            <li class="breadcrumb-item active">Конструктор</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <h3>Виды комплектов из механизмов и комплектующих</h3>
                                <div class="accordion" id="accordionExample">
                                    {% for mechanismkit in mechanismkit_list %}
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading{{ mechanismkit.pk }}">
                                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ mechanismkit.pk }}" aria-expanded="true" aria-controls="collapse{{ mechanismkit.pk }}">
                                            {{ mechanismkit.name }}
                                          </button>
                                        </h2>
                                        <div id="collapse{{ mechanismkit.pk }}" class="accordion-collapse collapse" aria-labelledby="heading{{ mechanismkit.pk }}" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                              <table class="table table-bordered table-hover">
                                                  <thead>
                                                    <tr>
                                                      <th scope="col">Картинка</th>
                                                      <th scope="col">Наименование</th>
                                                      <th scope="col">Ед. измерения</th>
                                                      <th scope="col">Код</th>
                                                      <th scope="col">Количество</th>
                                                      <th scope="col">Цена</th>
                                                    </tr>
                                                  </thead>
                                                    {% for mechanism in mechanismkit.details.all %}
                                                      <tbody>
                                                        <tr>
                                                          <td>
                                                              {% if mechanism.image %}
                                                                <p><img style="width:80px; height: 80px;" src="{{ mechanism.image.url }}" alt=""></p>
                                                              {% else %}
                                                                <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                              {% endif %}
                                                          </td>
                                                          <td><p class="property_data">{{ mechanism.name }}</p></td>
                                                          <td>{{ mechanism.unit_of_measure }}</td>
                                                          <td><p class="property_data">{{ mechanism.code }}</p></td>
                                                          <td><p class="property_data">{{ mechanism.quantity }}</p></td>
                                                          <td><p class="property_data">{{ mechanism.price }}</p></td>
                                                        </tr>
                                                      </tbody>
                                                    {% endfor %}
                                              </table>
                                              <strong>Стоимость комплекта: {{ mechanismkit.total }}</strong>
                                              {% if perms.webapp.delete_mechanismkit %}
                                                  <form style="display: inline-block; margin-left: 66%;" action="{% url "webapp:mechanismkit_del" mechanismkit.pk %}">
                                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalA1{{ mechanismkit.pk }}">
                                                      Удалить Комплект
                                                    </button>
                                                  </form>
                                                    <!-- Modal -->
                                                  <div class="modal fade" id="exampleModalA1{{ mechanismkit.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                      <div class="modal-dialog">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить весь комплект "{{ mechanismkit.name }}"?</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                            <form action="{% url "webapp:mechanismkit_del" mechanismkit.pk %}" method="post">
                                                                {% csrf_token %}
                                                                <button class="btn btn-primary btn-danger">Да</button>
                                                            </form>
                                                          </div>
                                                        </div>
                                                      </div>
                                                  </div>
                                              {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                    {% endfor %}
                                </div>
                                <h3>Виды "Раздвижных систем"</h3>
                                <div class="accordion" id="accordionExample">
                                      <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingthree">
                                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
                                            Раздвижные системы
                                          </button>
                                        </h2>
                                        <div id="collapsethree" class="accordion-collapse collapse" aria-labelledby="headingthree" data-bs-parent="#accordionExample">
                                          <div class="accordion-body">
                                              <table class="table table-bordered table-hover">
                                                  <thead>
                                                    <tr>
                                                      <th scope="col">Картинка</th>
                                                      <th scope="col">Наименование</th>
                                                      <th scope="col">Тип</th>
                                                      <th scope="col">Комплект механизмов</th>
                                                      <th scope="col">Удаление</th>
                                                    </tr>
                                                  </thead>
                                                    {% for slidingsystem in slidingsystem_list %}
                                                      <tbody>
                                                        <tr>
                                                          <td>
                                                              {% if slidingsystem.image %}
                                                                <p><img style="width:80px; height: 80px;" src="{{ slidingsystem.image.url }}" alt=""></p>
                                                              {% else %}
                                                                <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                              {% endif %}
                                                          </td>
                                                          <td><p class="property_data">{{ slidingsystem.drive }}, {{ slidingsystem.name }}</p></td>
                                                          <td><p class="property_data">{{ slidingsystem.type }}</p></td>
                                                          <td><p class="property_data">{{ slidingsystem.mechanism_kit }}</p></td>
                                                          <td>
                                                            {% if perms.webapp.delete_slidingsystem %}
                                                              <form style="display: inline-block;" action="{% url "webapp:slidingsystem_del" slidingsystem.pk %}">
                                                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalC3{{ slidingsystem.pk }}">
                                                                  X
                                                                </button>
                                                              </form>
                                                                <!-- Modal -->
                                                              <div class="modal fade" id="exampleModalC3{{ slidingsystem.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                  <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                      <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить {{ slidingsystem }}?</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                      </div>
                                                                      <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                                        <form action="{% url "webapp:slidingsystem_del" slidingsystem.pk %}" method="post">
                                                                            {% csrf_token %}
                                                                            <button class="btn btn-primary btn-danger">Да</button>
                                                                        </form>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                            {% endif %}
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    {% endfor %}
                                              </table>
                                              {% if perms.webapp.add_slidingsystem %}
                                                <a class="btn btn-outline-success" href="{% url "webapp:slidingsystem_add" %}">Добавить</a>
                                              {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

{% endblock javascripts %}

