{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %} Добавить "Раздвижную систему" {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Добавить "Раздвижную систему"</h1>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div>
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                      Добавить профиль
                                    </button>

                                        <!-- Modal -->
                                      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Добавить </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                    <table class="table">
                                                      <thead>
                                                        <tr>
                                                          <th scope="col">Наименование</th>
                                                          <th scope="col">Ед. измерения</th>
                                                          <th scope="col">Код</th>
                                                        </tr>
                                                      </thead>
                                                      {% for section in sections %}
                                                          <div style="font-size: 17px; margin-top:10px;">
                                                              <tbody>
                                                                <tr>
                                                                  <td>{{ section.name }}, {{ section.type }}</td>
                                                                  <td>хлыст 6м</td>
                                                                  <td>{{ section.code }}</td>
                                                                  <td>
                                                                    <form action="{% url "webapp:slidingsystem_add" %}" method="post">
                                                                       {% csrf_token %}
                                                                       <button name="section_id" value="{{ section.id }}" class="btn btn-primary btn-success">Добавить</button>
                                                                    </form>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                          </div>
                                                      {% endfor %}
                                                    </table>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                </div><hr>

                                <div>
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Наименование</th>
                                          <th scope="col">Ед. измерения</th>
                                          <th scope="col">Код</th>
                                          <th scope="col">Удалить</th>
                                        </tr>
                                      </thead>
                                        {% for section in section_list %}
                                            <div style="margin: 20px;">
                                                <tbody>
                                                    <tr>
                                                      <td>{{ section.name }}, {{ section.type }}</td>
                                                      <td>хлыст 6м</td>
                                                      <td>{{ detail.code }}</td>
                                                      <td>
                                                          <form style="display: inline-block;"
                                                              action="{% url "webapp:slidingsystem_section_del" section.pk %}" method="post">
                                                             {% csrf_token %}
                                                             <button class="btn btn-outline-danger">-</button>
                                                          </form>
                                                      </td>
                                                    </tr>
                                                </tbody>
                                            </div>
                                        {% endfor %}
                                    </table>
                                </div>
                                <form style="margin: 20px;" action="{% url 'webapp:constructor' %} " method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button name="sliding_system" value="sliding_system" class="btn btn-dark">Создать "Раздвижную систему"</button>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

{% endblock javascripts %}

