  <!-- /.content-wrapper -->
  <footer class="main-footer">
    &copy; <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/artedellaporta.kz/">https://www.instagram.com/artedellaporta.kz/</a>
  </footer>
