  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url "webapp:index" %}" class="nav-link">Главная</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url "webapp:customer_list" %}" class="nav-link">Контрагенты</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url "webapp:product" %}" class="nav-link">Компоненты</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url "webapp:constructor" %}" class="nav-link">Конструктор</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url "webapp:order" %}" class="nav-link">Заявки</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
{#    <form class="form-inline ml-3">#}
{#      <div class="input-group input-group-sm">#}
{#        <input class="form-control form-cotrol-navbar" type="search" placeholder="Поиск" aria-label="Поиск">#}
{#        <div class="input-group-append">n#}
{#          <button class="btn btn-navbar" type="submit">#}
{#            <i class="fas fa-search"></i>#}
{#          </button>#}
{#        </div>#}
{#      </div>#}
{#    </form>#}
  </nav>
  <!-- /.navbar -->
