{% if user.is_authenticated %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url "webapp:index" %}" class="brand-link">
      <img src="/uploads/img/Logo1.png" alt="Logo" style="width: 230px; height: 50px;">
      <span class="brand-text font-weight-light"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            {% if request.user.profile.avatar %}
                <img style="width: 40px; height: 40px" src="{{ request.user.profile.avatar.url }}" class="img-circle elevation-2" alt="User Image">
            {% else %}
                <img style="width: 40px; height: 40px" src="/uploads/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            {% endif %}
        </div>
        <div class="info">
          <a href="{% url "accounts:profile" user.pk %}" class="d-block">
            {{ request.user.username }}
          </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{% url "webapp:customer_list" %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                      <p>Контрагенты</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "webapp:product" %}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Компоненты</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "webapp:constructor" %}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Конструктор</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url "webapp:order" %}" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Заявки</p>
                    </a>
                </li>
        </ul>
        <form style="margin-top: 100px; margin-left: 20px" action="{% url "accounts:logout" %}" method="post">
            {% csrf_token %}
            <button class="btn btn-secondary">Выйти</button>
        </form>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
{% else %}

{% endif %}
  