{% extends "base.html" %}
{% load static %}
{% block title %} Комплектующие заявки №{{ order.pk }} {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <button class="btn btn-outline-secondary" id="test">PDF</button>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body" id="technical_task">
                                <h3>Комплектующие заявки №{{ order.pk }}</h3>
                                    {% for application in order.applications.all %}
                                        <h4>Заказ № {{ application.pk }}</h4>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                  <th scope="col">Картинка</th>
                                                  <th scope="col">Наименование</th>
                                                  <th scope="col">Ед. измерения</th>
                                                  <th scope="col">Код</th>
                                                  <th scope="col">Количество</th>
                                                </tr>
                                            </thead>
                                              {% for section in application.sliding_system.sections.all %}
                                                  <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td><p >{{ section.name }}, {{ section.type }}</p></td>
                                                        <td><p>хлыст 6 м</p></td>
                                                        <td><p>{{ section.code }}</p></td>
                                                        <td><p>{{ section.quantity }}</p></td>
                                                    </tr>
                                                  </tbody>
                                              {% endfor %}
                                              <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td><p>{{ application.sliding_system.tire.name }}</p></td>
                                                    <td><p>хлыст 6 м</p></td>
                                                    <td><p>{{ application.sliding_system.tire.code }}</p></td>
                                                    <td><p>{{ application.sliding_system.tire.quantity }}</p></td>
                                                </tr>
                                              </tbody>
                                              <tbody>
                                                <tr>
                                                    <td>
                                                        {% if application.glass.image %}
                                                            <p><img style="width:80px; height: 80px;" src="{{ application.glass.image.url }}" alt=""></p>
                                                        {% else %}
                                                            <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                        {% endif %}
                                                    </td>
                                                    <td><p class="property_data">{{ application.glass.name }}</p></td>
                                                    <td><p>м2</p></td>
                                                    <td><p class="property_data">{{ application.glass.code }}</p></td>
                                                    <td><p class="property_data">{{ application.glass.quantity }}</p></td>
                                                </tr>
                                              </tbody>
                                              <tbody>
                                                <tr>
                                                    <td>
                                                        {% if application.color.image %}
                                                            <p><img style="width:80px; height: 80px;" src="{{ application.color.image.url }}" alt=""></p>
                                                        {% else %}
                                                            <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                        {% endif %}
                                                    </td>
                                                    <td><p class="property_data">{{ application.color.name }}</p></td>
                                                    <td></td>
                                                    <td><p class="property_data">{{ application.color.code }}</p></td>
                                                    <td><p class="property_data">{{ application.color.quantity }}</p></td>
                                                </tr>
                                              </tbody>
                                              {% if application.door_knob %}
                                                  <tbody>
                                                    <tr>
                                                        <td>
                                                            {% if application.door_knob.image %}
                                                                <p><img style="width:80px; height: 80px;" src="{{ application.door_knob.image.url }}" alt=""></p>
                                                            {% else %}
                                                                <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                            {% endif %}
                                                        </td>
                                                        <td><p class="property_data">{{ application.door_knob.name }}</p></td>
                                                        <td><p></p></td>
                                                        <td><p class="property_data">{{ application.door_knob.code }}</p></td>
                                                        <td><p class="property_data">{{ application.door_knob.quantity }}</p></td>
                                                    </tr>
                                                  </tbody>
                                              {% endif %}
                                              {% if application.option %}
                                                  <tbody>
                                                    <tr>
                                                        <td>
                                                            {% if application.option.image %}
                                                                <p><img style="width:80px; height: 80px;" src="{{ application.option.image.url }}" alt=""></p>
                                                            {% else %}
                                                                <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                            {% endif %}
                                                        </td>
                                                        <td><p class="property_data">{{ application.option.name }}</p></td>
                                                        <td><p></p></td>
                                                        <td><p class="property_data">{{ application.option.code }}</p></td>
                                                        <td><p class="property_data">{{ application.option.quantity }}</p></td>
                                                    </tr>
                                                  </tbody>
                                              {% endif %}
                                        </table>
                                        <h3>Комплект "{{ application.sliding_system.mechanism_kit }}"</h3>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                  <th scope="col">Картинка</th>
                                                  <th scope="col">Наименование</th>
                                                  <th scope="col">Ед. измерения</th>
                                                  <th scope="col">Код</th>
                                                  <th scope="col">Количество</th>
                                                </tr>
                                            </thead>
                                              {% for detail in  application.sliding_system.mechanism_kit.details.all %}
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            {% if detail.image %}
                                                                <p><img style="width:80px; height: 80px;" src="{{ detail.image.url }}" alt=""></p>
                                                            {% else %}
                                                                <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                            {% endif %}
                                                        </td>
                                                        <td><p class="property_data">{{ detail.name }}</p></td>
                                                        <td><p>{{ detail.unit_of_measure }}</p></td>
                                                        <td><p class="property_data">{{ detail.code }}</p></td>
                                                        <td><p class="property_data">{{ detail.quantity }}</p></td>
                                                    </tr>
                                                </tbody>
                                              {% endfor %}
                                        </table>
                                    {% endfor %}
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{#    <script src="order/ttpdf.js"></script>#}
    <!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        var opt = {
              margin:       1,
              filename:     'Komplectuushie.pdf',
              image:        { type: 'jpeg', quality: 0.98 },
              html2canvas:  { scale: 1, width: 650 },
              jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' },
            };
      function generatePDF(){
            const element1 = document.getElementById("technical_task");
            html2pdf()
                .set(opt)
                .from(element1)
                .save();
        };
        document.getElementById("test").addEventListener("click", () => {
            generatePDF()
        });
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

{% endblock javascripts %}
