{% extends "base.html" %}
{% load static %}
{% block title %} Договор {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://eKoopmans.github.io/html2pdf.js"></script>

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Договор</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="test">PDF</button>
                                <div id="cpPDF" class="container" style="width: 1100px">
                                    <img style="width: 1100px; margin: 30px 0" src="/uploads/img/art-della-porta-title.png" alt="">
                                        <h5 style="text-align: center">Коммерческое предложение №{{ order.pk }}</h5>
                                <p><span style="margin-right: 80%">{{ date }} г.</span>г. Алматы</p>
                                    <div>
                                        <table class="table table-bordered">
                                          <thead>
                                            <tr>
                                              <th scope="col">Наименование</th>
                                              <th scope="col">Картинка</th>
                                              <th scope="col">Ед. изм.</th>
                                              <th scope="col">Кол-во</th>
                                              <th scope="col">Стоимость за ед, в тг.</th>
                                              <th scope="col">Стоимость всего, в тг.</th>
                                            </tr>
                                          </thead>
                                              {% for application in order.applications.all %}
                                              <tbody>
                                                <tr>
                                                  <td>
                                                      <p>{{ application.sliding_systems }}</p>
                                                      <p>Размер: {{ application.width }}X{{ application.height }}h</p>
                                                      <p>Размер створок: {{ application.width_sash }}X{{ application.height_sash }}h</p>
                                                      <p>Материал: {{ application.glass }}</p>
                                                      <p>Цвет: {{ application.color }}</p>
                                                      {% if application.door_knob %}
                                                        <p>Фурнитура: производство Европа</p>
                                                        <p>{{ application.door_knob }}</p>
                                                      {% endif %}
                                                  </td>
                                                  <td>
                                                      <img src="https://thumbs.dreamstime.com/b/%D0%BF%D1%83%D1%81%D1%82%D0%B0%D1%8F-frame-%D1%84%D0%BE%D1%82%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D0%B8-%D0%BD%D0%B0-%D0%BF%D1%80%D0%BE%D0%B7%D1%80%D0%B0%D1%87%D0%BD%D0%BE%D0%BC-%D1%84%D0%BE%D0%BD%D0%B5-%D1%80%D0%B0%D0%BC%D0%BA%D0%B0-%D0%B4%D0%BB%D1%8F-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0-%D0%B8%D0%BB%D0%BB%D1%8E%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D1%8F-198209029.jpg" alt="" id="image{{ application.pk }}" width="300px" height="300px" />
                                                      <div class="input-group mt-3">
                                                          <input class="form-control" type="file" id="file{{ application.pk }}" />
                                                          <button id={{ application.pk }} onClick="reply_click(this.id)" class="btn btn-outline-secondary">+</button>
                                                      </div>
                                                  </td>
                                                  <td>шт</td>
                                                  <td>1</td>
                                                  <td>{{ application.summa }}</td>
                                                  <td><b>{{ application.summa }}</b></td>
                                                </tr>
                                            {% endfor %}
                                                <tr>
                                                  <td>Накладные, административные расходы</td>
                                                  <td>%</td>
                                                  <td>3%</td>
                                                  <td> </td>
                                                  <td><b>{{ procent_3 }}</b></td>
                                                </tr>
                                                <tr>
                                                  <td>Итого по смете без НДС</td>
                                                  <td></td>
                                                  <td></td>
                                                  <td></td>
                                                  <td><b>{{ summa_3 }}</b></td>
                                                </tr>
                                              </tbody>
                                        </table>
                                    </div>
                                    <p><b>Общая стоимость договора составляет: {{ order.summa }}</b></p>
                                    <div style="margin-top: 80px">
                                        <div style="width: 350px; display: inline-block; margin-right: 280px">
                                            <p>«Исполнитель»</p>

                                            <p class="contract_line">ИП «Arte Della Porta»</p>
                                            <p class="contract_line">г.Алматы,ул.Жандосова 55/5, офис 12</p>
                                            <p class="contract_line">БИН: 931225450895</p>
                                            <p>ИИК:KZ658562204112459116 В АО “Банк ЦентрКредит” БИК: KCJBKZKX, г.Алматы</p>

                                            <p>Директор:</p>

                                            <p>_____________Рекке К.Г.</p>
                                        </div>
                                        <div style="width: 350px; display: inline-block">
                                            <p>Заказчик:</p>
                                            <p class="contract_line">{{ order.customer.name }}:</p>
                                            <p class="contract_line">Адрес: {{ order.customer.address }}</p>
                                            {% if order.customer.iin %}
                                                <p class="contract_line">ИИН: {{ order.customer.iin }}</p>
                                                <p class="contract_line">{{ order.customer.identification }}</p>
                                                <p class="contract_line"> </p>
                                                <p> </p>
                                            {% else %}
                                                <p class="contract_line">БИН: {{ order.customer.bin }}</p>
                                                <p class="contract_line">{{ order.customer.iban }}</p>
                                                <p class="contract_line"> </p>
                                                <p> </p>
                                            {% endif %}

                                            <p>Заказчик:</p>
                                            <p>__________________{{ order.customer.name }}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        let opt = {
              margin:       1,
              filename:     'KP.pdf',
              image:        { type: 'jpeg', quality: 0.98 },
              html2canvas:  { scale: 1, width: 1150, useCORS: true },
              jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' },
            };
      function generatePDF(){
            const element1 = document.getElementById("cpPDF");
            html2pdf()
                .set(opt)
                .from(element1).output('bloburl')
                .save();
        };
        document.getElementById("test").addEventListener("click", () => {
            generatePDF()
        });

        function reply_click(clicked_id) {
                let btn = document.getElementById(clicked_id);
                let btnId = btn.id
                let fileId = "file" + btnId
                let file = document.getElementById(fileId)
                let imageId = "image" + btnId
                let image = document.getElementById(imageId)
                let f = file.files[0];
        if (f) {
            image.src = URL.createObjectURL(f);
        }
            }
    </script>

{% endblock javascripts %}