{% extends "base.html" %}
{% load static %}
{% block title %} Договор {% endblock %}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
{#    <script src="https://eKoopmans.github.io/html2pdf.js"></script>#}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Договор</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="test">PDF</button>
                                <div id="contractPDF" class="contract" style="width:1100px">

                                        <h5 style="text-align: center">Договор № {{ order.pk }}</h5>
                                <p><span style="margin-right: 80%">{{ date }} г.</span>г. Алматы</p>

                                    <div style="margin-bottom: 20px">
                                        {% if order.customer.iin %}
                                            Частное лицо
                                        {% else %}
                                            Юридическое лицо
                                        {% endif %}
                                        , именуемое в дальнейшем «Заказчик», в лице {{ order.customer.name }}, действующего на основании
                                        {% if order.customer.iin %}
                                            {{ order.customer.identification }} {{ order.customer.iin }}
                                        {% else %}
                                            "Устава"
                                        {% endif %}
                                        с одной стороны, и ИП «ArteDellaPorta» именуемое в дальнейшем
                                        «Исполнитель», в лице директора Рекке К.Г., действующего на основании регистрационного номера удостоверения
                                        №046845713, с другой стороны, заключили настоящий Договор, о нижеследующем:
                                    </div>
                                    <div style="margin-left: 50px">
                                        <div style="margin-bottom: 20px">
                                            1.	Предмет договора
                                            1.1. «Исполнитель» обязуется по заказу Заказчика изготовить интерьерную раздвижную перегородку далее по
                                            Договору «Изделия», согласно Спецификации (Приложение №1), и чертежи изделий (приложение №2) и утвержденными
                                            Заказчиком размерами, являющимся неотъемлемой частью настоящего Договора.
                                            1.2. Изделия изготавливаются из утвержденных материалов, и предоставленных размеров Заказчиком.
                                            1.3. Производство Изделий осуществляется для объекта расположенный по адресу:
                                            {%  for application in order.applications.all %}
                                                {{ application.addres }}
                                            {% endfor %}
                                        </div>
                                        <div style="margin-bottom: 20px">
                                            2.	Стоимость договора и порядок расчетов
                                            2.1. Общая стоимость Договора составляет: {{ order.summa }} тенгеи включает в себя
                                            изготовление Изделий, указанных п. 1.1. Договора.
                                            2.2. Оплата по настоящему Договору производится в следующем порядке:
                                            - внесением полной оплаты 90% в размере: {{ summa_90 }} тенге.
                                            Остаток 10% {{ summa_10 }} оплачивается перед поставкой Изделия на Объект
                                            2.3. Оплата производится в национальной валюте РК путем перечисления на расчетный счет в банке денежных
                                            средств или внесением наличных средств в кассу «Исполнителя».
                                        </div>
                                        <div style="margin-bottom: 20px">
                                            3.	Сроки изготовления
                                            3.1. Срок изготовления и начала работ – 35 рабочих дней, считается со дня внесения оплаты «Заказчиком»
                                            на расчетный счет «Исполнителя» согласно п.2.2 данного Договора и со дня утверждения «Заказчиком»
                                            технических чертежей изделий и после письменного уведомления строй готовности проёмов.
                                            3.2. Возможно досрочное исполнение Договора.
                                        </div>
                                        <div style="margin-bottom: 20px">
                                            4. Порядок сдачи - приемки работ
                                            4.1. По завершению работ, Исполнитель предоставляет Заказчику подписанный со своей стороны Акт приема-передачи Изделий.
                                            4.2. Заказчик подписывает Акт-приема передачи в момент получения Изделий.
                                        </div>
                                        <div style="margin-bottom: 20px">
                                            5.	Ответственности и обязанности сторон
                                            5.1. За неисполнение или ненадлежащее исполнение условий Договора Стороны несут ответственность в
                                            соответствии с действующим законодательством Республики Казахстан.
                                            5.2. Исполнитель несет ответственность за своевременное исполнение заказа.
                                            5.3. Исполнитель несет ответственность за качество поставляемых Изделий.
                                            5.4. При несоблюдении сроков изготовления Изделий Исполнитель выплачивает Заказчику неустойку в размере
                                            0,1% за каждый день просрочки, но не более 10% от суммы не поставленных Изделий.
                                            5.5. Заказчик несет ответственность за соблюдение сроков оплаты по настоящему Договору.
                                            5.6. В случае несоблюдения сроков оплаты Заказчик выплачивает Исполнителю неустойку в размере 0,1% за
                                            каждый день просрочки, но не более 10% от суммы долга.
                                            5.7. Выплата штрафных санкций не освобождает Стороны от выполнения обязательств по настоящему Договору.
                                            5.8. Монтажные работы по установки дверей перегородок и раздвижных систем, а также усиление проёма, не
                                            включены в стоимость.
                                        </div>
                                        <div style="margin-bottom: 20px">
                                            6.	Гарантии
                                            6.1. Исполнитель предоставляет Заказчику гарантии на выполненные работы и используемые материалы на срок
                                            12 календарных месяцев с момента подписания сторонами Акта приема-передачи выполненных работ.
                                            6.2. В течение 12 календарных месяцев со дня сдачи работ по Акту приема-передачи Исполнитель за свой
                                            счет производит гарантийный ремонт выполненных работ и использованных материалов в части устранения
                                            обнаруженных дефектов, в сроки, согласованные Сторонами.
                                            6.3. Гарантийные обязательства не распространяются: на механические повреждения.
                                        </div>
                                        <div style="margin-bottom: 20px">
                                            7.	Форс-мажор
                                            7.1. Стороны не несут ответственности за неисполнение или ненадлежащее исполнение обязательств по
                                            Договору, а также за ущерб, причиненный вследствие наступления обязательств непреодолимой силы,
                                            вызванных прямо или косвенно проявлением наводнений, землетрясений, эпидемий (Covid 19), военных
                                            конфликтов или переворотов, террористических актов, а также иных обстоятельств, находящихся вне разумного
                                            контроля Сторон.
                                        </div>
                                        <div style="margin-bottom: 20px">
                                            8.	Прочие условия
                                            8.1. Ни одна из Сторон не вправе расторгнуть или изменить часть настоящего Договора в одностороннем порядке.
                                            8.2. Все споры, возникающие между сторонами при исполнении настоящего Договора, решаются по возможности
                                            сторонами путем переговоров. При не достижении согласия спор передается на разрешение в Специализированный
                                            межрайонный экономический суд города Алматы по месту нахождения Заказчика в соответствии с настоящим
                                            Договором (договорная подсудность согласно ст.34 ГПК РК) и законодательством Республики Казахстан.
                                            8.3. Настоящий Договор вступает в силу с момента подписания и действует до полного исполнения Сторонами
                                            обязательств по настоящему Договору.
                                            8.4. Настоящий Договор оформлен в двух экземплярах, по одному экземпляру для каждой из Сторон, и имеют
                                            одинаковую юридическую силу.
                                        </div>
                                        <div style="margin-bottom: 20px">
                                            <p>9.	Адреса и Реквизиты Сторон</p>

                                            <div style="width: 350px; display: inline-block; margin-right: 280px">
                                                <p>«Исполнитель»</p>

                                                <p class="contract_line">ИП «Arte Della Porta»</p>
                                                <p class="contract_line">г.Алматы,ул.Жандосова 55/5, офис 12</p>
                                                <p class="contract_line">БИН: 931225450895</p>
                                                <p>ИИК:KZ658562204112459116 В АО “Банк ЦентрКредит” БИК: KCJBKZKX, г.Алматы</p>

                                                <p>Директор:</p>

                                                <p>_____________Рекке К.Г.</p>
                                            </div>
                                            <div style="width: 350px; display: inline-block">
                                                <p>Заказчик:</p>
                                                <p class="contract_line">{{ order.customer.name }}:</p>
                                                <p class="contract_line">Адрес: {{ order.customer.address }}</p>
                                                {% if order.customer.iin %}
                                                    <p class="contract_line">ИИН: {{ order.customer.iin }}</p>
                                                    <p class="contract_line">{{ order.customer.identification }}</p>
                                                    <p class="contract_line"> </p>
                                                    <p> </p>
                                                {% else %}
                                                    <p class="contract_line">БИН: {{ order.customer.bin }}</p>
                                                    <p class="contract_line">{{ order.customer.iban }}</p>
                                                    <p class="contract_line"> </p>
                                                    <p> </p>
                                                {% endif %}

                                                <p>Заказчик:</p>
                                                <p>__________________{{ order.customer.name }}</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div>
                                        <div style="text-align: center; margin-top: 50px">
                                            <p>Приложение №1</p>
                                            <p>к Договору № {{ order.pk }} от {{ date }}г.</p>
                                            <p>СПЕЦИФИКАЦИЯ</p>
                                        </div>

                                        <table class="table table-bordered">
                                          <thead>
                                            <tr>
                                              <th scope="col">Наименование</th>
                                              <th scope="col">Ед. изм.</th>
                                              <th scope="col">Кол-во</th>
                                              <th scope="col">Стоимость за ед, в тг.</th>
                                              <th scope="col">Стоимость всего, в тг.</th>
                                            </tr>
                                          </thead>
                                            {% for application in order.applications.all %}
                                              <tbody>
                                                <tr>
                                                  <td>
                                                      <p>{{ application.sliding_systems }}</p>
                                                      <p>Размер: {{ application.width }}X{{ application.height }}h</p>
                                                      <p>Размер створок: {{ application.width_sash }}X{{ application.height_sash }}h</p>
                                                      <p>Материал: {{ application.glass }}</p>
                                                      <p>Цвет: {{ application.color }}</p>
                                                      {% if application.door_knob %}
                                                        <p>Фурнитура: производство Европа</p>
                                                        <p>{{ application.door_knob }}</p>
                                                      {% endif %}
                                                  </td>
                                                  <td>шт</td>
                                                  <td>1</td>
                                                  <td>{{ application.summa }}</td>
                                                  <td><b>{{ application.summa }}</b></td>
                                                </tr>
                                            {% endfor %}
                                                <tr>
                                                  <td>Накладные, административные расходы</td>
                                                  <td>%</td>
                                                  <td>3%</td>
                                                  <td> </td>
                                                  <td><b>{{ procent_3 }}</b></td>
                                                </tr>
                                                <tr>
                                                  <td>Итого по смете без НДС</td>
                                                  <td></td>
                                                  <td></td>
                                                  <td></td>
                                                  <td><b>{{ summa_3 }}</b></td>
                                                </tr>
                                              </tbody>
                                        </table>
                                    </div>
                                    <p><b>Общая стоимость договора составляет: {{ order.summa }}</b></p>
                                    <div style="margin-top: 80px">
                                        <div style="width: 350px; display: inline-block; margin-right: 280px">
                                            <p>«Исполнитель»</p>

                                            <p class="contract_line">ИП «Arte Della Porta»</p>
                                            <p class="contract_line">г.Алматы,ул.Жандосова 55/5, офис 12</p>
                                            <p class="contract_line">БИН: 931225450895</p>
                                            <p>ИИК:KZ658562204112459116 В АО “Банк ЦентрКредит” БИК: KCJBKZKX, г.Алматы</p>

                                            <p>Директор:</p>

                                            <p>_____________Рекке К.Г.</p>
                                        </div>
                                        <div style="width: 350px; display: inline-block">
                                            <p>Заказчик:</p>
                                            <p class="contract_line">{{ order.customer.name }}:</p>
                                            <p class="contract_line">Адрес: {{ order.customer.address }}</p>
                                            {% if order.customer.iin %}
                                                <p class="contract_line">ИИН: {{ order.customer.iin }}</p>
                                                <p class="contract_line">{{ order.customer.identification }}</p>
                                                <p class="contract_line"> </p>
                                                <p> </p>
                                            {% else %}
                                                <p class="contract_line">БИН: {{ order.customer.bin }}</p>
                                                <p class="contract_line">{{ order.customer.iban }}</p>
                                                <p class="contract_line"> </p>
                                                <p> </p>
                                            {% endif %}

                                            <p>Заказчик:</p>
                                            <p>__________________{{ order.customer.name }}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endif %}
{% endblock content %}

{% block javascripts %}

    <!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        var opt = {
              margin:       1,
              filename:     'Dogovor.pdf',
              image:        { type: 'jpeg', quality: 0.98 },
              html2canvas:  { scale: 2, width: 1150 },
              jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' },
            };
      function generatePDF(){
            const element2 = document.getElementById("contractPDF");
            html2pdf()
                .set(opt)
                .from(element2)
                .save();
        };
        document.getElementById("test").addEventListener("click", () => {
            generatePDF()
        });
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

{% endblock javascripts %}
