{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static "assets/plugins/fontawesome-free/css/all.min.css" %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static "assets/dist/css/adminlte.min.css" %}">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Заявка</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                  <a class="text-dark" href="{% url "webapp:application_sliding_system_choice" order.pk %}">Добавить</a>
              </li>
              <li class="breadcrumb-item active">Добавить заказ</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-eye"></i> {{ order.customer.name }}
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-5 invoice-col">
                    <p><strong>Адрес:</strong> {{ order.customer.address }}</p>
                    {% if order.customer.iin %}
                        <p><strong>ИИН:</strong> {{ order.customer.iin }}</p>
                        <p><strong>Документ:</strong> {{ order.customer.identification }}</p>
                    {% else %}
                        <p><strong>БИН:</strong> {{ order.customer.bin }}</p>
                        <p><strong>Реквизиты:</strong> {{ order.customer.iban }}</p>
                    {% endif %}
                </div>
                <div class="col-sm-3 invoice-col">
                    <strong style="margin-right: 30px">Статус заявки:</strong>
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalA1">
                      {{ order.status }}
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalA1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Смена статуса заявки</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form action="{% url "webapp:order_status_change" order.pk %}" method="post">
                                {% csrf_token %}
                                <select class="form-select" aria-label="Default select example" name="status">
                                  <option value="новая">новая</option>
                                  <option value="в работе">в работе</option>
                                  <option value="завершена">завершена</option>
                                </select>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                    <button class="btn btn-primary">Ок</button>
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-3 invoice-col">
                    <p><strong>Сумма заявки:</strong> {{ order.summa }} тенге</p>
                </div>
                <!-- /.col -->

                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">№</th>
                          <th scope="col">Наименование</th>
                          <th scope="col">Сумма</th>
                          <th scope="col">Удаление</th>
                        </tr>
                      </thead>
                        {% for application in order.applications.all %}
                          <tbody>
                            <tr>
                              <td><p>{{ application.pk }}</p></td>
                              <td><a href="{% url "webapp:application_detail" application.pk %}">{{ application }}</a></td>
                              <td><p>{{ application.summa }}</p></td>
                              <td>
                                  {% if perms.webapp.delete_application %}
                                    <form style="display: inline-block; margin-left: 50px" action="{% url "webapp:application_del" application.pk %}">
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ application.pk }}">
                                          X
                                        </button>
                                    </form>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal{{ application.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить РС?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                            <form action="{% url "webapp:application_del" application.pk %}" method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-primary btn-danger">Да</button>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  {% endif %}
                              </td>
                            </tr>
                          </tbody>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
            </div>
              <!-- /.row -->


              <!-- /.row -->

              <!-- this row will not appear when printing -->

            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>
<!-- ./wrapper -->
{% endif %}
{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="{% static "assets/plugins/jquery/jquery.min.js" %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "assets/dist/js/adminlte.min.js" %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static "assets/dist/js/demo.js" %}"></script>
{% endblock %}


{#=======#}
{#{% block title%} Заявка №{{ order.pk }}{% endblock %}#}
{##}
{#{% block content%}#}
{#    <h5>Заказчик: {{ order.customer.name }}</h5>#}
{#    <h5>Сумма заявки: {{ order.summa }} тенге</h5>#}
{#    <h5>#}
{#        Статус заявки:#}
{#        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalA1">#}
{#          {{ order.status }}#}
{#        </button>#}
{##}
{#        <!-- Modal -->#}
{#        <div class="modal fade" id="exampleModalA1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#          <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#              <div class="modal-header">#}
{#                <h5 class="modal-title" id="exampleModalLabel">Смена статуса заявки</h5>#}
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#              </div>#}
{#              <div class="modal-body">#}
{#                <form action="{% url "webapp:order_status_change" order.pk %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <select class="form-select" aria-label="Default select example" name="status">#}
{#                      <option value="новая">новая</option>#}
{#                      <option value="в работе">в работе</option>#}
{#                      <option value="завершена">завершена</option>#}
{#                    </select>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>#}
{#                        <button class="btn btn-primary">Ок</button>#}
{#                    </div>#}
{#                </form>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#    </h5>#}
{#    <a class="btn btn-success" href="{% url "webapp:application_form" order.pk %}">Добавить "Раздвижную систему"</a><br>#}
{#    <div style="margin-top:20px;">#}
{#        {% for application in order.applications.all %}#}
{#            <div>#}
{#                <a href="{% url "webapp:application_detail" application.pk %}">#}
{#                    {{ application }} - стоимость: {{ application.summa }} тенге#}
{#                </a>#}
{#                <form style="display: inline-block; margin-left: 50px" action="{% url "webapp:application_del" application.pk %}">#}
{#                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ application.pk }}">#}
{#                      X#}
{#                    </button>#}
{#                </form>#}
{##}
{#                <!-- Modal -->#}
{#                <div class="modal fade" id="exampleModal{{ application.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#                  <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                      <div class="modal-header">#}
{#                        <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить РС?</h5>#}
{#                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                      </div>#}
{#                      <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>#}
{#                        <form action="{% url "webapp:application_del" application.pk %}" method="post">#}
{#                            {% csrf_token %}#}
{#                            <button class="btn btn-primary btn-danger">Да</button>#}
{#                        </form>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#>>>>>>> origin/develop#}
