{% extends "base.html" %}
{% load static %}
{% block title %} Техническое задание {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Техническое задание</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="test">PDF</button>
                                <div id="technical_task">
                                    {% for application in order.applications.all %}
                                        <div style="text-align: center; margin-bottom: 50px">
                                            {% if application.sliding_system.name == "1 активная" %}
                                                {{ application.height_sash }}
                                                <div style="display: inline-block;">
                                                    <img style="width:500px; height: 350px;" src="/uploads/user_pics/1_активная_на_нишу(ТЗ).jpg" alt="">
                                                </div>
                                                <div style="margin-right: 315px;">{{ application.width_sash }}</div>
                                            {% elif application.sliding_system.name == "1 активная, 1 стационарная" %}
                                                <div style="margin-right: 265px;">{{ application.width }}</div>
                                                <div style="display: inline-block;">{{ application.height_sash }}</div>
                                                <div style="display: inline-block;">
                                                    <img style="width:500px; height: 350px;" src="/uploads/user_pics/1_активная_1_стационарная(ТЗ).jpg.png" alt="">
                                                </div>
                                                <div style="margin-right: 345px;">{{ application.width_sash }}</div>
                                            {% elif application.sliding_system.name == "2 активные" %}
                                                <div style="margin-right: 265px;">{{ application.width }}</div>
                                                <div style="display: inline-block;">{{ application.height_sash }}</div>
                                                <div style="display: inline-block;">
                                                    <img style="width:500px; height: 350px;" src="/uploads/user_pics/2_активные_в_нишу(ТЗ).jpg" alt="">
                                                </div>
                                                <div style="margin-right: 340px;">{{ application.width_sash }}</div>
                                            {% elif application.sliding_system.name == "2 активные, синхронное открытие" %}
                                                <div style="margin-right: 120px;">{{ application.width }}</div>
                                                <div style="display: inline-block;">{{ application.height_sash }}</div>
                                                <div style="display: inline-block;">
                                                    <img style="width:500px; height: 350px;" src="/uploads/user_pics/2_активные_синхронно_на_нишу(ТЗ).jpg.png" alt="">
                                                </div>
                                                <div style="margin-right: 200px;">{{ application.width_sash }}</div>
                                            {% elif application.sliding_system.name == "2 активные, 1 стационарная" %}
                                                <div style="margin-right: 190px;">{{ application.width }}</div>
                                                <div style="display: inline-block;">{{ application.height_sash }}</div>
                                                <div style="display: inline-block;">
                                                    <img style="width:500px; height: 350px;" src="/uploads/user_pics/2_активные_1_стационарная_в_нишу(ТЗ).jpg" alt="">
                                                </div>
                                                <div style="margin-right: 350px;">{{ application.width_sash }}</div>
                                            {% elif application.sliding_system.name == "2 стационарные, 1 активная" %}
                                                <div style="margin-right: 190px;">{{ application.width }}</div>
                                                <div style="display: inline-block;">{{ application.height_sash }}</div>
                                                <div style="display: inline-block;">
                                                    <img style="width:500px; height: 350px;" src="/uploads/user_pics/2_стационарные_1_активная_в_нишу(ТЗ).jpg" alt="">
                                                </div>
                                                <div style="margin-right: 350px;">{{ application.width_sash }}</div>
                                            {% elif application.sliding_system.name == "Телескопик 2" %}
                                                <div style="margin-right: 260px;">{{ application.width }}</div>
                                                <div style="display: inline-block;">{{ application.height_sash }}</div>
                                                <div style="display: inline-block;">
                                                    <img style="width:500px; height: 350px;" src="/uploads/user_pics/Телескопик_2_в_нишу(ТЗ).jpg" alt="">
                                                </div>
                                                <div style="margin-right: 350px;">{{ application.width_sash }}</div>
                                            {% elif application.sliding_system.name == "Телескопик 3" %}
                                                <div style="margin-right: 190px;">{{ application.width }}</div>
                                                <div style="display: inline-block;">{{ application.height_sash }}</div>
                                                <div style="display: inline-block;">
                                                    <img style="width:500px; height: 350px;" src="/uploads/user_pics/Телескопик_3_на_нишу(ТЗ).jpg.png" alt="">
                                                </div>
                                                <div style="margin-right: 350px;">{{ application.width_sash }}</div>
                                            {% else %}
                                                <img style="width:500px; height: 350px;" src="https://zenit.by/images/no_photo.png" alt="">
                                            {% endif %}

                                        </div>
                                        <table style="text-align: center" class="table table-bordered">
                                          <thead>
                                            <tr>
                                              <th scope="col">Наименование:</th>
                                              <th scope="col">Ширина в мм:</th>
                                              <th scope="col">Высота в мм:</th>
                                              <th scope="col">Кол-во:</th>
                                              <th scope="col">Площадь м2:</th>
                                              <th scope="col">Направление:</th>
                                            </tr>
                                          </thead>
                                              <tbody>
                                                <tr>
                                                  <td>Проем</td>
                                                  <td>{{ application.width }}</td>
                                                  <td>{{ application.height }}</td>
                                                  <td></td>
                                                  <td></td>
                                                  <td></td>
                                                </tr>
                                              </tbody>
                                              <tbody>
                                                <tr>
                                                  <td>Створка</td>
                                                  <td>{{ application.width_sash }}</td>
                                                  <td>{{ application.height_sash }}</td>
                                                  <td>{{ application.sliding_system.frame_quantity }}</td>
                                                  <td></td>
                                                  <td>{{ application.direction }}</td>
                                                </tr>
                                              </tbody>
                                              <tbody>
                                                <tr>
                                                  <td>Стекло</td>
                                                  <td>{{ application.glass.width }}</td>
                                                  <td>{{ application.glass.height }}</td>
                                                  <td>{{ application.sliding_system.frame_quantity }}</td>
                                                  <td>{{ application.glass.quantity }}</td>
                                                  <td></td>
                                                </tr>
                                              </tbody>
                                              <tbody>
                                                <tr>
                                                  <td>Верхняя шина</td>
                                                  <td>{{ application.sliding_system.tire.width }}</td>
                                                  <td></td>
                                                  <td>{{ application.sliding_system.tire.quantity }}</td>
                                                  <td></td>
                                                  <td></td>
                                                </tr>
                                              </tbody>
                                        </table>
                                        <h3 style="margin: 50px 0 20px 50px; font-weight: bold">Раскрой</h3>
                                        <div style="margin-bottom: 80px;">
                                            {% for section in application.sliding_system.sections.all %}
                                                <div>
                                                    {% if section.type == "с притвором" %}
                                                        <div>
                                                            <b style="font-size: 18px; margin: 35px;">Профиль с притвором:</b>
                                                            <div style="font-size: 18px; display: inline-block; text-align: center">
                                                                {{ application.height_sash }}
                                                                <p><img style="width: 250px; height: 30px;"
                                                                        src="/uploads/img/Профиль.png" alt=""></p>
                                                            </div>
                                                            <b style="font-size: 20px;">X {{ section.quantity_sash }}</b>
                                                        </div>
                                                    {% endif %}
                                                    {% if section.type == "без притвора" %}
                                                        <div>
                                                            <b style="font-size: 18px; margin: 35px;">Профиль без притвора:</b>
                                                            <div style="font-size: 18px; display: inline-block; text-align: center">
                                                                {{ application.height_sash }}
                                                                <p><img style="width: 250px; height: 30px;"
                                                                        src="/uploads/img/Профиль.png" alt=""></p>
                                                            </div>
                                                            <b style="font-size: 20px;">X {{ section.quantity_sash }}</b>
                                                        </div>
                                                    {% endif %}
                                                    {% if section.type == "горизонтальный" %}
                                                        <div>
                                                            <b style="font-size: 18px; margin: 35px;">Профиль горизонтальный:</b>
                                                            <div style="font-size: 18px; display: inline-block; text-align: center">
                                                                {{ application.width_sash }}
                                                                <p><img style="width: 250px; height: 30px;"
                                                                        src="/uploads/img/Профиль.png" alt=""></p>
                                                            </div>
                                                            <b style="font-size: 20px;">X {{ section.quantity_sash }}</b>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{#    <script src="order/ttpdf.js"></script>#}
    <!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        var opt = {
              margin:       1,
              filename:     'TZ.pdf',
              image:        { type: 'jpeg', quality: 0.98 },
              html2canvas:  { scale: 3, width: 650 },
              jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' },
            };
      function generatePDF(){
            const element1 = document.getElementById("technical_task");
            html2pdf()
                .set(opt)
                .from(element1)
                .save();
        };
        document.getElementById("test").addEventListener("click", () => {
            generatePDF()
        });
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

{% endblock javascripts %}

