{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %} Добавить Комплект {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Добавить Комплект</h1>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <form style="margin: 20px;" action="{% url 'webapp:constructor' %} " method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button name="mechanismkit" value="mechanismkit" class="btn btn-dark">Создать Комплект</button>
                            </form>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div>
                                    <b style="margin-right: 65%; font-size: 30px;">
                                        Сумма: <span id="total">{{ total }}</span>
                                    </b>
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                      Добавить деталь комплекта
                                    </button>

                                        <!-- Modal -->
                                      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Добавить </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                    <table class="table">
                                                      <thead>
                                                        <tr>
                                                          <th scope="col">Картинка</th>
                                                          <th scope="col">Наименование</th>
                                                          <th scope="col">Ед. измерения</th>
                                                          <th scope="col">Код</th>
                                                          <th scope="col">Цена</th>
                                                        </tr>
                                                      </thead>
                                                      {% for detail in details.all %}
                                                          <div style="font-size: 17px; margin-top:10px;">
                                                              <tbody>
                                                                <tr>
                                                                  <td>
                                                                    {% if detail.image %}
                                                                      <img style="width:80px; height: 80px;" src="{{ detail.image.url }}" alt="">
                                                                    {% else %}
                                                                      <img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt="">
                                                                    {% endif %}
                                                                  </td>
                                                                  <td>{{ detail.name }}</td>
                                                                  <td>{{ detail.unit_of_measure }}</td>
                                                                  <td>{{ detail.code }}</td>
                                                                  <td>{{ detail.price }}</td>
                                                                  <td>
                                                                    <form action="{% url "webapp:mechanismkit_form" %}" method="post">
                                                                       {% csrf_token %}
                                                                       <button name="detail_id" value="{{ detail.id }}" class="btn btn-primary btn-success">Добавить</button>
                                                                    </form>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                          </div>
                                                      {% endfor %}
                                                    </table>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                </div><hr>

                                <div>
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Картинка</th>
                                          <th scope="col">Наименование</th>
                                          <th scope="col">Ед. измерения</th>
                                          <th scope="col">Код</th>
                                          <th scope="col">Количество</th>
                                          <th scope="col">Цена</th>
                                          <th scope="col">Добавить/Удалить</th>
                                        </tr>
                                      </thead>
                                        {% for detail in details_list %}
                                            <div style="margin: 20px;">
                                                <tbody id="detail_line{{ detail.pk }}">
                                                    <tr>
                                                      <td>
                                                        {% if detail.image %}
                                                          <img style="width:80px; height: 80px;" src="{{ detail.image.url }}" alt="">
                                                        {% else %}
                                                          <img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt="">
                                                        {% endif %}
                                                      </td>
                                                      <td>{{ detail.name }}</td>
                                                      <td>{{ detail.unit_of_measure }}</td>
                                                      <td>{{ detail.code }}</td>
                                                      <td><span id="detail_qty{{ detail.pk }}">{{ detail.quantity }}</span></td>
                                                      <td>{{ detail.price }}</td>
                                                      <td>
                                                            <form style="display: inline-block; margin-left: 30px" class="plus"
                                                                  data-detail_id="{{ detail.pk }}"
                                                                  data-detail_price="{{ detail.price }}">
                                                                {% csrf_token %}
                                                                <button class="btn btn-outline-success">+</button>
                                                            </form>

                                                          <form style="display: inline-block;" class="minus"
                                                                data-detail_id="{{ detail.pk }}"
                                                                data-detail_price="{{ detail.price }}">
                                                             {% csrf_token %}
                                                             <button class="btn btn-outline-danger">-</button>
                                                          </form>
                                                      </td>
                                                    </tr>
                                                </tbody>
                                            </div>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        const postData = async (url, data) => {
        const formData = new URLSearchParams(data);
        const response = await fetch(url, {
            method: "post",
            body: formData
        });
        if (response.ok) {
            return await response.text();
        }
        throw new Error("Network error");
        };
        let plus = $(".plus");
        plus.on("submit", function(e) {
            e.preventDefault();
            let detailId = this.dataset.detail_id;
            let detail_price = this.dataset.detail_price;
            let token = $(this).find("[name=csrfmiddlewaretoken]").val();
            postData(`{% url "webapp:mechanismkit_detail_add" 0 %}`.replace("0", detailId), {
                csrfmiddlewaretoken: token,
                detail_id: detailId
            }).then(response => {
                let total = document.getElementById("total");
                let detail_qty_id = "detail_qty" + detailId
                let detail_qty = document.getElementById(detail_qty_id);
                let count = detail_qty.innerHTML;
                let summa = total.innerHTML;
                total.innerHTML = Number(summa)+Number(detail_price);
                detail_qty.innerHTML = Number(count)+1;
                $(this).addClass("plus");
            }).catch(error => {
                console.error(error)
            });
        });
        let minus = $(".minus");
        minus.on("submit", function(e) {
            e.preventDefault();
            let detailId2 = this.dataset.detail_id;
            let detail_price2 = this.dataset.detail_price;
            let token2 = $(this).find("[name=csrfmiddlewaretoken]").val();
            postData(`{% url "webapp:mechanismkit_detail_del" 0 %}`.replace("0", detailId2), {
                csrfmiddlewaretoken: token2,
                detail_id: detailId2
            }).then(response => {
                let detail_line = document.getElementById("detail_line"+detailId2)
                let total2 = document.getElementById("total");
                let detail_qty_id2 = "detail_qty" + detailId2
                let detail_qty2 = document.getElementById(detail_qty_id2);
                let count = detail_qty2.innerHTML
                let summa = total2.innerHTML;
                total2.innerHTML = Number(summa)-detail_price2;
                detail_qty2.innerHTML = Number(count)-1;
                if (Number(count) === 1) {
                    detail_line.remove()
                };

                $(this).addClass("minus");
            }).catch(error => {
                console.error(error)
            });
        });
    </script>

{% endblock javascripts %}

