{% extends "base.html" %}
{% load static %}
{% block title %} Контрагент {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Контрагент</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{% url "webapp:customer_list" %}" class="text-dark">
                                    Вернуться назад
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="col-sm-5 invoice-col">
                                    <h4>{{ customer.name }}</h4>
                                    <p><strong>Адрес:</strong> {{ customer.address }}</p>
                                    {% if customer.iin %}
                                        <p><strong>ИИН:</strong> {{ customer.iin }}</p>
                                        <p><strong>Документ:</strong> {{ customer.identification }}</p>
                                    {% else %}
                                        <p><strong>БИН:</strong> {{ customer.bin }}</p>
                                        <p><strong>Реквизиты:</strong> {{ customer.iban }}</p>
                                    {% endif %}
                                </div>
                                <table style="text-align: center" id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Дата</th>
                                          <th>Заказчик</th>
                                          <th>Сумма</th>
                                          <th>Статус</th>
                                          <th>Менеджер</th>
                                          <th>Ком. предл.</th>
                                          <th>Договор</th>
                                          <th>Тех. задание</th>
                                          <th>Комплектующие</th>
                                          <th>Удалить</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in customer.order.all %}
                                        <tr>
                                            <td>{{ order.pk }}</td>
                                            <td>{{ order.created_at.day }}.{{ order.created_at.month }}.{{ order.created_at.year }}г.</td>
                                            <td><a href="{% url "webapp:order_detail" order.pk %}" class="text-dark">{{ order.customer.name }}</a></td>
                                            <td>{{ order.summa }}</td>
                                            <td>{{ order.status }}</td>
                                            <td>{{ order.author }}</td>
                                            <td><button class="btn btn-outline-secondary">КП</button></td>
                                            <td><a class="btn btn-outline-secondary" href="{% url "webapp:contract" order.pk %}">Договор</a></td>
                                            <td>
                                                {% if order.status == "новая" %}
                                                {% else %}
                                                   <a class="btn btn-outline-secondary" href="{% url "webapp:technical_task" order.pk %}">ТЗ</a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if order.status == "новая" %}
                                                {% else %}
                                                   <a class="btn btn-outline-secondary" href="{% url "webapp:accessories" order.pk %}">Комплектующие</a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if perms.webapp.delete_order %}
                                                    <form action="{% url "webapp:order_del" order.pk %}">
                                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ order.pk }}">
                                                          <i class="bi bi-trash-fill"></i>
                                                        </button>
                                                    </form>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal{{ order.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                      <div class="modal-dialog">
                                                        <div class="modal-content">
                                                          <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить заявку?</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                            <form action="{% url "webapp:order_del" order.pk %}" method="post">
                                                                {% csrf_token %}
                                                                <button class="btn btn-primary btn-danger">Да</button>
                                                            </form>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                          <th>#</th>
                                          <th>Дата</th>
                                          <th>Заказчик</th>
                                          <th>Сумма</th>
                                          <th>Статус</th>
                                          <th>Менеджер</th>
                                          <th>Ком. предложение</th>
                                          <th>Договор</th>
                                          <th>Тех. задание</th>
                                            <th>Удалить</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

{% endblock javascripts %}