{% extends "base.html" %}
{% load static %}
{% block title %} Контрагенты {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Контрагенты</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                {% if perms.webapp.add_customer %}
                                    <a style="display:inline-block" id="btnGroupDrop1" type="button" class="btn dropdown-toggle p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                        Добавить
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a style="width: 350px;" class="dropdown-item" href="{% url "webapp:person_add" %}">Частное лицо</a>
                                        <a class="dropdown-item" href="{% url "webapp:organization_add" %}">Организация</a>
                                    </ul>
                                {% endif %}
                            </li>
                            <li class="breadcrumb-item active">Контрагенты</li>
                        </ol>
                    </div>
                </div>
                {% include "partial/search_form.html" %}
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" style="text-align: center" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Телефон</th>
                                            <th>Адрес</th>
                                            <th>ИИН/БИН</th>
                                            <th>№паспорта/р.с.</th>
                                            <th>Редактировать</th>
                                            <th>Удалить</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for customer in customer_list %}
                                        <tr>
                                            <td>
                                                <a href="{% url "webapp:customer_detail" customer.id %}" class="link-black">
                                                    {{ customer.name }}
                                                </a>
                                            </td>
                                            <td>{{ customer.phone }}</td>
                                            <td>{{ customer.address }}</td>
                                            <td>
                                            {% if customer.iin %}
                                                {{ customer.iin }}
                                            {% else %}
                                                {{ customer.bin }}
                                            {% endif %}
                                            </td>
                                            <td>
                                                {% if customer.identification %}
                                                    {{ customer.identification }}
                                                {% else %}
                                                    {{ customer.iban }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if perms.webapp.change_customer %}
                                                    {% if customer.iin %}
                                                        <a class="btn btn-outline-primary" href="{% url "webapp:person_edit" customer.pk %}">
                                                            <i class="bi bi-pencil-fill "></i>
                                                        </a>
                                                    {% else %}
                                                         <a class="btn btn-outline-primary" href="{% url "webapp:organization_edit" customer.pk %}">
                                                              <i class="bi bi-pencil-fill"></i>
                                                         </a>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if perms.webapp.delete_customer %}
                                                    <form action="{% url "webapp:customer_del" customer.pk %}">
                                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ customer.pk }}">
                                                          <i class="bi bi-trash-fill"></i>
                                                        </button>
                                                    </form>

                                                     <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal{{ customer.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                          <div class="modal-dialog">
                                                            <div class="modal-content">
                                                              <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Вы хотите удалить контрагента {{ customer.name }}?</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                              </div>
                                                              <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                                <form action="{% url "webapp:customer_del" customer.pk %}" method="post">
                                                                    {% csrf_token %}
                                                                    <button class="btn btn-primary btn-danger">Да</button>
                                                                </form>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Наименование</th>
                                            <th>Телефон</th>
                                            <th>Адрес</th>
                                            <th>ИИН/БИН</th>
                                            <th>№паспорта/р.с.</th>
                                            <th>Редактировать</th>
                                            <th>Удалить</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                {% if is_paginated %}
                                    {% include "partial/pagination.html" %}
                                {% endif %}
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": false,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

{% endblock javascripts %}