{% extends "base.html" %}
{% load static %}
{% block title %} Заказ {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Заказ для {{ application.order.customer.name }}</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <a href="{% url "webapp:order_detail" application.order.pk %}" class="link-dark">Вернуться назад</a>
                                <a class="btn btn-outline-success" href="{% url "webapp:application_edit" application.pk %}">Редактировать</a>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div style="display: inline-block; margin: 10px 50px; position: absolute">
                                    <h4>{{ application.sliding_system }}</h4>
                                    <img style="width: 600px; height: 400px;" src="{{ application.sliding_system.image.url }}" alt="">
                                </div>
                                <div style="display: inline-block; margin: 130px 0 100px 700px;">
                                    <p><b>Ширина проема: </b>{{ application.width }}</p>
                                    <p><b>Высота проема: </b>{{ application.height }}</p>
                                    <p><b>Направление: </b>{{ application.direction }}</p>
                                    <p><b>Адрес: </b>{{ application.address }}</p>
                                    <p><b>Стоимость грузчиков: </b>{{ application.loaders_price }}</p>
                                    <p><b>Наличие лифта: </b>{{ application.lift }}</p>
                                    <p><b>Сумма: </b>{{ application.summa }}</p>
                                </div>
                                <h3>Компоненты</h3>
                                <div>
                                  <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Картинка</th>
                                          <th scope="col">Наименование</th>
                                          <th scope="col">Код</th>
                                          <th scope="col">Цена</th>
                                        </tr>
                                      </thead>
                                          <tbody>
                                            <tr>
                                              <td>
                                                  {% if application.glass.image %}
                                                    <p><img style="width:80px; height: 80px;" src="{{ application.glass.image.url }}" alt=""></p>
                                                  {% else %}
                                                    <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                  {% endif %}
                                              </td>
                                              <td><p class="property_data">{{ application.glass.name }}</p></td>
                                              <td><p class="property_data">{{ application.glass.code }}</p></td>
                                              <td><p class="property_data">{{ application.glass.price }}</p></td>
                                            </tr>
                                          </tbody>
                                          <tbody>
                                            <tr>
                                              <td>
                                                  {% if application.color.image %}
                                                    <p><img style="width:80px; height: 80px;" src="{{ application.color.image.url }}" alt=""></p>
                                                  {% else %}
                                                    <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                  {% endif %}
                                              </td>
                                              <td><p class="property_data">{{ application.color.name }}</p></td>
                                              <td><p class="property_data">{{ application.color.code }}</p></td>
                                              <td><p class="property_data">{{ application.color.price }}</p></td>
                                            </tr>
                                          </tbody>
                                          {% if application.door_knob %}
                                              <tbody>
                                                <tr>
                                                  <td>
                                                      {% if application.door_knob.image %}
                                                        <p><img style="width:80px; height: 80px;" src="{{ application.door_knob.image.url }}" alt=""></p>
                                                      {% else %}
                                                        <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                      {% endif %}
                                                  </td>
                                                  <td><p class="property_data">{{ application.door_knob.name }}</p></td>
                                                  <td><p class="property_data">{{ application.door_knob.code }}</p></td>
                                                  <td><p class="property_data">{{ application.door_knob.price }}</p></td>
                                                </tr>
                                              </tbody>
                                          {% endif %}
                                          <tbody>
                                            <tr>
                                              <td>
                                                  {% if application.option.image %}
                                                    <p><img style="width:80px; height: 80px;" src="{{ application.option.image.url }}" alt=""></p>
                                                  {% else %}
                                                    <p><img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt=""></p>
                                                  {% endif %}
                                              </td>
                                              <td><p class="property_data">{{ application.option.name }}</p></td>
                                              <td><p class="property_data">{{ application.option.code }}</p></td>
                                              <td><p class="property_data">{{ application.option.price }}</p></td>
                                            </tr>
                                          </tbody>
                                  </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

{% endblock javascripts %}