{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block stylesheets %}
        <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href={% static "assets/plugins/fontawesome-free/css/all.min.css" %}>
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "assets/css/adminlte.min.css" %}">
{% endblock %}

{% block title %} Добавить раздвижную систему{% endblock %}
{% block content %}
{#   {% if user.is_authenticated %}#}
<!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Добавить новую заявку</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{% url "webapp:order"  %}" class="text-dark">
                                    К списку
                                </a>
                            </li>
                            <li class="breadcrumb-item active">Добавления заявки</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div class="card p-3">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                  <thead>
                                    <tr>
                                      <th scope="col">Наименование</th>
                                      <th scope="col">Свойство</th>
                                      <th scope="col">Код</th>
                                      <th scope="col">Количество</th>
                                      <th scope="col">Цена</th>
                                        <th>Удалить</th>
                                    </tr>
                                  </thead>
                                    {% for product in product_list %}
                                        <div style="margin: 20px;">
                                            <tbody>
                                                <tr>
                                                  <td>{{ product.product.name }}</td>
                                                  <td>{{ product.property }}</td>
                                                  <td>{{ product.code }}</td>
                                                  <td>{{ product.quantity }}</td>
                                                  <td>{{ product.price }}</td>
                                                  <td><form style="display: inline-block; margin-left: 30px"
                                                          action="{% url "webapp:order_product_del" product.pk %}" method="post">
                                                       {% csrf_token %}
                                                       <button class="btn btn-danger">-</button>
                                                    </form></td>
                                                </tr>
                                            </tbody>
                                        </div>
                                    {% endfor %}
                                </table>
                            <h3>Сумма: {{ total }}</h3>
                            </div>
                            <div class="col-6 my-auto">
                                <form action="{% url "webapp:order_detail" pk %}" method="post">
                                   {% csrf_token %}
                                        <p>{{ form|crispy }}</p><br><br>
                                    <button class="btn btn-dark">Создать заявку</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="card">
                              <div class="card-header">
                                <h3 class="card-title">Компоненты</h3>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                        <th>Наименование</th>
                                        <th style="width: 10px">
                                          Добавить
                                        </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  {% for product in products %}
                                    <tr>
                                        <td>{{ product.name }}</td>
                                        <td>
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal{{ product.pk }}">
                                                +
                                            </button>
                                            <!-- Modal -->
                                          <div class="modal fade" id="exampleModal{{ product.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                              <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Добавить компонент?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                        <table class="table">
                                                          <thead>
                                                            <tr>
                                                              <th scope="col">Картинка</th>
                                                              <th scope="col">Наименование</th>
                                                              <th scope="col">Свойство</th>
                                                              <th scope="col">Код</th>
                                                              <th scope="col">Цена</th>
                                                                <th scope="col">Добавить</th>
                                                            </tr>
                                                          </thead>
                                                          {% for property in product.property.all %}
                                                              <div style="font-size: 17px; margin-top:10px;">
                                                                  <tbody>
                                                                    <tr>
                                                                      <td>
                                                                        {% if property.image %}
                                                                          <img style="width:80px; height: 80px;" src="{{ property.image.url }}" alt="">
                                                                        {% else %}
                                                                          <img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt="">
                                                                        {% endif %}
                                                                      </td>
                                                                      <td>{{ property.product.name }}</td>
                                                                      <td>{{ property.property }}</td>
                                                                      <td>{{ property.code }}</td>
                                                                      <td>{{ property.price }}</td>
                                                                      <td>
                                                                        <form action="{% url "webapp:application_form" pk %}" method="post">
                                                                           {% csrf_token %}
                                                                           <button name="property_id" value="{{ property.id }}" class="btn btn-primary btn-success">Добавить</button>
                                                                        </form>
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                              </div>
                                                          {% endfor %}
                                                        </table>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                        </td>
                                    </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{#    {% endif %}#}
{% endblock %}






{% block javascripts %}
<!-- jQuery -->
    <script src="{% static "assets/plugins/jquery/jquery.min.js"  %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- DataTables -->
    <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "assets/js/adminlte.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "assets/js/demo.js" %}"></script>
    <!-- page script -->

{% endblock %}