{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#    <h1>Раздвижная система</h1>#}
{#    <div>#}
{#        {% for product in application.products.all %}#}
{#            <p>#}
{#                <img style="width:80px; height: 80px;" src="{{ product.image.url }}" alt=""> {{ product.product.name }} -#}
{#                {{ product.property }} - {{ product.code }} - {{ product.price }}#}
{#            </p>#}
{#        {% endfor %}#}
{#    </div>#}
{#    <p>Ширина: {{ application.width }}</p>#}
{#    <p>Высота: {{ application.height }}</p>#}
{#    <p>Направление: {{ application.direction }}</p>#}
{#    <p>Адрес: {{ application.address }}</p>#}
{#    <p>Сумма: {{ application.summa }}</p>#}
{#{% endblock %}#}


{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static "assets/plugins/fontawesome-free/css/all.min.css" %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static "assets/dist/css/adminlte.min.css" %}">
{% endblock %}
{% block content %}
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Детали раздвиной двери</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url "webapp:order_detail" application.order.id %}">Вернуться</a></li>
              <li class="breadcrumb-item active">Детали раздвиной двери</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->

              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <h5>Ширина: {{ application.width }}</h5>
                    <h5>Высота: {{ application.height }}</h5>
                    <h5>Направление: {{ application.direction }}</h5>
                    <h5>Адрес поставки: {{ application.address }}</h5>
                    <h5>Сумма: {{ application.summa }}</h5>
                </div>
              </div>
              <!-- /.row -->

              <!-- TABLE: LATEST ORDERS -->
              <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Свойства</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Наименование</th>
                      <th>Фото</th>
                        <th>Свойство</th>
                      <th>Код</th>
                      <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                            {% for product in application.products.all %}
                        <tr>
                            <td>{{ product.product.name }}</td>
                            <td><img style="width:80px; height: 80px;" src="{{ product.image.url }}" alt=""></td>
                            <td>{{ product.property }}</td>
                            <td>{{ product.code }}</td>
                            <td>{{ product.price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->

              <!-- /.card-footer -->
            </div>
              <!-- /.row -->


              <!-- /.row -->

              <!-- this row will not appear when printing -->

            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>
<!-- ./wrapper -->
{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="{% static "assets/plugins/jquery/jquery.min.js" %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "assets/dist/js/adminlte.min.js" %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static "assets/dist/js/demo.js" %}"></script>
{% endblock %}
{#=======#}
{#    <h1>Раздвижная система</h1>#}
{#    <div>#}
{#        {% for product in application.products.all %}#}
{#            <p>#}
{#                {% if product.image %}#}
{#                    <img style="width:80px; height: 80px;" src="{{ product.image.url }}" alt="">#}
{#                {% else %}#}
{#                    <img style="width:80px; height: 80px;" src="https://zenit.by/images/no_photo.png" alt="">#}
{#                {% endif %}#}
{#                {{ product.product.name }} - {{ product.property }} - {{ product.code }} -#}
{#                {{ product.price }} - {{ product.quantity }}#}
{#            </p>#}
{#        {% endfor %}#}
{#    </div>#}
{#    <p>Ширина: {{ application.width }}</p>#}
{#    <p>Высота: {{ application.height }}</p>#}
{#    <p>Направление: {{ application.direction }}</p>#}
{#    <p>Адрес: {{ application.address }}</p>#}
{#    <p>Сумма: {{ application.summa }}</p>#}
{#>>>>>>> origin/develop#}