<div class="container" style="width: 28rem;">
    <h1 class="text-center mt-5">Вход</h1>
    <form action="{% url "accounts:login" %}" method="post">
        {% csrf_token %}
        {% if has_error %}
            <p>Неправильное имя пользователя или пароль</p>
        {% endif %}
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="password" id="password">
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        </div>
        <div style="text-align: center">
            <button type="submit" class="btn btn-dark">Войти</button>
        </div>

    </form>
</div>

